[2018-02-23 11:55] wkillerud commented on #1
History has changed, so we'll have to read travis.yml

[2018-02-23 13:49] antidecaf opened #20 "Add code of conduct"

[2018-02-25 17:12] kwltrs opened #35 "Clarify comment about an IE11-issue in ffe-account-selector-react"
This code comment mentions an issue with IE11, which is supposed to be fixed in React 16. As React 16 is out by now, the comment might need an update.
https://github.com/SpareBank1/designsystem/blob/d5bb1f7fa7b15411b707999469ee3814c3ae9a81/packages/ffe-account-selector-react/src/subcomponents/input-field/InputField.js#L14-L21

[2018-02-25 17:44] selbekk commented on #6
Was this issue fixed with [this commit](https://github.com/SpareBank1/designsystem/commit/42fad9f2dae51f250c07d44b78c9b5b0fee153d1), @kwltrs?

[2018-02-25 17:49] selbekk commented on #20
How about adopting the [contributor covenant](https://www.contributor-covenant.org/version/1/4/code-of-conduct.md) code of conduct for this project? Looks fine to me!

[2018-02-25 17:56] selbekk commented on #34
I'll get right on it!

[2018-02-25 19:20] kwltrs commented on #6
Fixed in 42fad9f2dae51f250c07d44b78c9b5b0fee153d1

[2018-02-25 19:20] kwltrs commented on #6
Fixed in 42fad9f2dae51f250c07d44b78c9b5b0fee153d1

[2018-02-25 21:29] selbekk commented on #20
There is actually built in functionality in GitHub to add this. We still need a contact email though - what should that be?

[2018-02-26 12:08] wkillerud opened #1 "Set up Travis CI"
We've decided to use Travis CI for continuous integration against master and pull requests. This issue is to track progress on setting it up.

- [x] Add `.travis.yml`
- [x] Set up service integration
- [x] Test a delierately broken PR
- [x] Test a successful PR

[2018-02-26 12:20] wkillerud opened #2 "Consider replacing handlebars with gatsby for static styleguide contents"
We use Handlebars and a custom setup to generate static content around React Styleguidist for content that is not React component demos and documentation. [Gatsby](https://github.com/gatsbyjs/gatsby) was raised as a suggestion to replace the custom setup.

Use this issue to discuss this suggestion.

[2018-02-26 12:21] wkillerud opened #3 "Automate deployment of GitHub pages"
The process of building the html documentation and pushing it to the gh-pages-branch needs to be automated. Preferably our CI should be setup to do this. Travis has a write up, that might help: https://docs.travis-ci.com/user/deployment/pages/

`npm run build:htdocs` builds the documentation, which ends up in `dist`.

[2018-02-26 12:22] wkillerud opened #4 "Expand button "X" animates in from the top-right corner"
When the expand button animates in its "close X" the X comes down from and is animated out to the top right. This animation looks odd and should perhaps be redesigned. Extract the attached ZIP to see a video recording of the issue.

[Knapp.zip](https://github.com/SpareBank1/designsystem/files/1758543/Knapp.zip)

Relevant code can be found here: https://github.com/SpareBank1/designsystem/blob/maste

[2018-02-26 12:23] wkillerud opened #5 "ffe-account-selector-react selectedAccounts default verdi"

[2018-02-26 12:27] wkillerud opened #6 "ffe-account-selector: search shows no results after entering the fifth number"
When searching for an account it can seem like the search requires we include the separator to get a match on an account number. We should not force users to do this. Ignore separators when searching.

See attached images.
![sok1](https://user-images.githubusercontent.com/1223410/36670481-d42a2192-1af8-11e8-820a-2eaa9b1c67b8.PNG)
![sok2](https://user-images.githubusercontent.com/1223410/36670482-d

[2018-02-26 12:28] wkillerud opened #7 "Add Coveralls to the build"
[Coveralls](https://coveralls.io) is a really nice thing for monitoring test coverage and is relatively easy to integrate with Travis. It's also [free](https://coveralls.io/pricing) for opensource projects. It will find and comment on pull requests indicating if the coverage has gone up or down, an example of what that looks like can be seen [here](https://github.com/ivarni/get-selenium/pull/8).

[2018-02-26 12:29] wkillerud opened #8 "Add Code of Conduct"

[2018-02-26 12:29] wkillerud opened #9 "Add Issue template and Pull Request template"
This will make it a bit easier to file issues and PRs
https://github.com/devspace/awesome-github-templates

[2018-02-26 12:30] wkillerud opened #10 "Contributing.md references HipChat"
HipChat and our channel is referenced both in the top and the bottom sections of CONTRIBUTING.md.

Should this be replaced or removed?
Do we have some way for externals to contact us?

[2018-02-26 12:30] wkillerud opened #11 "Contrast on focus ring is low for certain elements, backgrounds"
See attached images. Can we change what color we use for the focus ring?

![color-contrast-blue-background](https://user-images.githubusercontent.com/1223410/36670650-3f62f68c-1af9-11e8-9d87-66657bd41947.png)
![color-contrast-radio-switch](https://user-images.githubusercontent.com/1223410/36670652-3f8e48f0-1af9-11e8-9cbc-e1b4c34deaa7.png)

[2018-02-26 12:32] wkillerud opened #12 "ffe-buttons-react: TertiaryButton only supports rightIcon if there is also a leftIcon"
`TertiaryButton` doesn't support an icon on the right side of the label unless there is also an icon on the left side. This is an unintended effect of the `simpleContent` prop in `Button` being set to `true` (which renders a simpler markup without support for icons.) unless there is a `leftIcon`.

Quickfix: set `simpleContent` to `false` if there is either a `leftIcon` or a `rightIcon` ([here](htt

[2018-02-26 12:32] wkillerud opened #13 "ffe-datepicker-react: Date is rendered with a border for all months"
Steps to reproduce:

1. Select a date in the calendar widget
2. Use the next or previous button to change month

Expected behavior: the date should be rendered as selected only for the actual month I selected
Actual behavior: the date is rendered as selected for all months

[2018-02-26 12:33] wkillerud opened #14 "ffe-datepicker-react: pressing Enter while focusing the input field with a valid date should close the calendar"
If I edit a date in the input field with my keyboard and hit Enter I expect the calendar to close so I can tab to the next input field, given the date is valid.

[2018-02-26 12:33] wkillerud opened #15 "ffe-dropdown: Chevron does not render properly in IE10"
![ffe-dropdown-ie10](https://user-images.githubusercontent.com/1223410/36670787-a2ea2d06-1af9-11e8-927c-8a074965039e.png)

[2018-02-26 12:33] wkillerud opened #16 "ffe-account-selector-react: Multiselect scroll in IE hopper til toppen av tabellen"

[2018-02-26 12:34] wkillerud opened #17 "Add visual regression tests"
We need some way of regression testing our CSS. There is [prior art on this in SB1](https://labs.sparebank1.no/2017/10/09/visuell-regressiontestning-i-praktiken/), but we need it to work in our new CI world.

[2018-02-26 12:34] wkillerud opened #18 "Clarify comment about an IE11-issue in ffe-account-selector-react"
This code comment mentions an issue with IE11, which is supposed to be fixed in React 16. As React 16 is out by now, the comment might need an update.
https://github.com/SpareBank1/designsystem/blob/d5bb1f7fa7b15411b707999469ee3814c3ae9a81/packages/ffe-account-selector-react/src/subcomponents/input-field/InputField.js#L14-L21

[2018-02-26 12:34] wkillerud opened #19 "Should our main README.md be in English?"
Although most of our documentation is in Norwegian, our Github and code language is English. Should we therefore consider translating the README.md and CONTRIBUTING.md documents to English?

[2018-02-26 12:39] wkillerud commented on #7
Coveralls requires access to the organization the same as Travis. Could I get a :+1: from the core maintainers before adding it? Cc @kwltrs @gbrownlee @antidecaf

[2018-02-26 12:41] wkillerud commented on #10
I'll see if I can reword it to encourage using Github issues.

[2018-02-26 12:45] wkillerud commented on #19
I like having technical documentation in English, but:

- the working language of pretty much 100 % of the design system consumers today is Norwegian
- the primary design system documentation language is Norwegian
- due to the above we allow issues written in Norwegian

Maybe the core documents such as the root README and CONTRIBUTING should stick to Norwegian for now?

[2018-02-26 13:15] selbekk commented on #12
I'm on this, but I think I'll fix it by rewriting the way buttons are implemented. The current implementation is bogged down with tech debt and decisions that didn't scale - and a new approach is needed.

[2018-02-26 13:23] #1 closed, assigned to wkillerud

[2018-02-26 13:27] #8 closed, assigned to selbekk

[2018-02-26 13:28] wkillerud opened #22 "ffe-message-box(-react): 'action' variant"
In [ffe-message-box](https://github.com/SpareBank1/designsystem/blob/b33dd658781bcffe5ddbf64957b8f9df89ea6a94/packages/ffe-message-box/less/ffe-message-box.less#L24) we have a version called `action` but it's not implemented in the React world. Is it a version we need, or can it perhaps be removed?

[2018-02-26 13:54] #10 closed, assigned to wkillerud

[2018-02-26 14:01] kwltrs opened #23 "Tests for formatPercentage in ffe-formatters fail under certain conditions"
Two test cases of ffe-formatter fail on certain yet to be discovered conditions on two machines in my possession (Linux + Mac). It seems Number.toLocaleString prefixes negative numbers with either an hyphen minus (char code 45) or a minus sign (char code 8722), whereas the later causes the test to break.

https://github.com/SpareBank1/designsystem/blob/209c8f5d7d7e6d1d19d308b779fe35b75338016c/pack

[2018-02-26 14:12] wkillerud commented on #23
What locale do you have set on those machines?

[2018-02-26 14:22] kwltrs commented on #23
en-US, but should it matter as toLocaleString gets called with nb-NO?

[2018-02-26 14:34] selbekk commented on #23
are you running the same version of node on both machines? In that case, which version are you running?

[2018-02-26 14:43] kwltrs commented on #23
v9.6.1 and v8.9.1. I've had this problem before, but chose to ignore it as it was on my private machine and it seemed to work everywhere else.

[2018-02-26 14:57] selbekk commented on #23
Could it be due to differences in the way node implements `Date.prototype.toLocaleString`?

[2018-02-26 14:59] wkillerud opened #24 "ffe-icons: Consider creating a separate package for the SVG assets"
Some consumers would only like the SVGs and use them directly in their app. Today we force these users to download PhantomJS as part of `svg-sprite`. This is a requirement to generate an SVG sprite of multiple icons at build-time. However, not all consumers want or need this feature.

Proposed solution:

- Create a new package `ffe-icons-assets` that only holds the SVGs
- Release a version of `ffe

[2018-02-26 15:06] kwltrs commented on #24
Is there an alternative to `svg-sprite`? This could solve the dependency to PhantomJS issue.

[2018-02-26 15:11] wkillerud commented on #24
Good point.

[svgstore](https://github.com/svgstore/svgstore) looks promising at first glance ([blogpost about it here](https://medium.com/@OlegVaraksin/workflow-for-creating-svg-sprites-with-npm-scripts-7cae7014619)).

[2018-02-27 06:59] selbekk opened #26 "Consider using pretty-quick for running prettier"
Prettier tends to create mangled diffs every once in a while. While researching how to fix this, I noticed that the updated [prettier website](https://prettier.io/) suggests using [`pretty-quick`](https://github.com/azz/pretty-quick) instead.

Should we change out `precise-commit` for `pretty-quick` in order to improve the commit experience? It does not support patch-wise formatting, but I think t

[2018-02-27 07:00] selbekk commented on #22
@adidick and @hodoea - what do you think?

[2018-02-27 09:03] selbekk opened #29 "Clean up unnecessary files"
There are still quite a few files that are left from our multi-repo days, that now can be deleted.

These include per-package .gitignore files, .gitattributes files etc etc.

Clean up!

[2018-02-27 09:32] selbekk commented on #22
@wkillerud the code says "action", not "active". Typo?

[2018-02-27 09:33] #23 closed, assigned to kwltrs

[2018-02-27 09:35] adidick-zz commented on #22
I've never used a grey message box so it's possibly not needed. If it's not implemented in the React world that probably means it's not anywhere either, right? Which means we probably can't search for it in use. A grey version of the message box doesn't exist in the sketch template so I'm not sure how how it ended up here and what it should be used for.

[2018-02-27 09:44] selbekk commented on #22
It looks like this:

![image](https://user-images.githubusercontent.com/1307267/36721377-08789c28-1bab-11e8-9c55-e47a2e152b35.png)

It's not used a lot (but a few places) internally, so it can probably be removed in the next major of ffe-message-box, especially if there's no use for it and it breaks with design guidelines.

[2018-02-27 10:44] adidick-zz commented on #22
Yeah, that looks like it does the same things as a blue info box, so unless someone else has a good reason to use it we can surely throw it out.

[2018-02-27 10:49] adidick-zz commented on #22
@selbekk I've posted in the graphic design channel on Slack to see if there's anyone else who knows where it came from.

[2018-02-27 11:00] selbekk commented on #22
Thanks! I noticed that it was in use on the kundeklienter BM team - hope that helps!

[2018-02-27 12:53] hodoea commented on #22
Regarding the team ´kundeklienter BM´. Are we talking insurance or bank? @selbekk So far no one has replied in the GD-forum channel regarding its usage..

[2018-02-27 13:09] selbekk commented on #22
This is the forsikring team, as far as I could tell.

[2018-02-27 13:17] #29 closed, assigned to selbekk

[2018-02-27 14:09] #26 closed, assigned to selbekk

[2018-02-27 14:20] selbekk commented on #4
This will be fixed by the pending button rewrite PR

[2018-02-27 14:46] selbekk commented on #11
Thoughts on this @adidick @hodoea ?

[2018-02-27 14:47] selbekk commented on #13
Hm, is the issue title a bit off here @wkillerud ?

[2018-02-27 15:25] wkillerud commented on #13
Waaay off. Copy paste gone wrong. Will fix.

[2018-02-27 15:30] wkillerud commented on #9
Re PR template: I think it could be nice to have some reminders about key stuff from Contributing, such as descriptive commit messages and references to GH issues if they exist. Up for discussion

[2018-02-27 15:30] hodoea commented on #11
hmm @wkillerud I work only on mobile patterns, so I might be wrong now: but it seems on the `åpne sider` when you hover a green button(such as the one you have shown above) it only becomes darker. where is your button from? See my image below
<img width="334" alt="skjermbilde 2018-02-27 kl 16 28 16" src="https://user-images.githubusercontent.com/8971560/36737564-acbbf4ee-1bdb-11e8-8681-e3558e56b62

[2018-02-27 15:32] hodoea commented on #11
The full picture
<img width="823" alt="skjermbilde 2018-02-27 kl 16 31 55" src="https://user-images.githubusercontent.com/8971560/36737607-c2b5ae66-1bdb-11e8-9ce1-6f2bba78d4b0.png">

[2018-02-27 16:51] wkillerud commented on #11
Not sure where the original screenshot is from (it's from the internal issue tracker archives :female_detective: ), but in the Forsikring apps for PM all focusable elements get that border around them when focused (like when you hit Tab on a computer keyboard and the browser highlights an element).

I see Åpne sider get the same focus border on some elements, but not all - some use the web browser

[2018-02-28 10:11] #9 closed, assigned to selbekk

[2018-02-28 10:30] selbekk commented on #2
Gatsby has an open PR for creating a styleguide-based site - basically what we want. https://github.com/gatsbyjs/gatsby/pull/3304

I'll look into creating a PR for a similar application for us.

[2018-02-28 10:51] eirikv commented on #19
I my opinion, I think we should be consistent and use the same language all over. On a positive note, if we go for English might get more people to contribute.

[2018-02-28 11:18] henrikhermansen commented on #13
The bug title and description is not really correct here.
While it's not completely wrong, it's important to notice there are two modifiers for `ffe-calendar__date`: `selected` and `focus`.
When you navigate the months, after selecting a date, it's only the `focus` modifier that stays on the day-of-month you selected. The `selected` modifier correctly renders only on the month where you actually s

[2018-02-28 11:20] selbekk commented on #13
I think the way you described it made sense - is this really a bug?

[2018-02-28 11:40] wkillerud commented on #13
@henrikhermansen Aha, that makes sense. This issue is from the internal archives :female_detective: Sounds like it's working as intended. I'll close the issue as wontfix.

[2018-02-28 11:40] #13 closed, assigned to nobody

[2018-02-28 11:44] antidecaf commented on #2
Nice. For now I'll create a PR using handlebars to get an MVP up and running.

[2018-02-28 12:18] wkillerud opened #33 "Consider removing all `peerDependencies`"
#### Which package is this issue related to?

:globe_with_meridians: All the things

#### Describe your issue

When using packages with a React and Less version we have a `peerDependency` on the Less version from the React version. A lot of Less packages also have a `peerDependency` on `@sb1/ffe-core` (even some React packages, like accordion do this). [These tend to get out of sync](https://githu

[2018-02-28 12:21] wkillerud opened #34 "all: peerDependency warnings due to wrong version of ffe-core, others"
#### Which package is this issue related to?

:globe_with_meridians: All the things

#### Describe your issue

We get a bunch of peerDependency warnings when installing the new scoped FFE packages. This creates a lot of noise in the logs.

#### What is the expected behavior?

No warnings should be printed :tada:

#### What is the actual behavior?

So many warnings :see_no_evil:

#### Steps to repr

[2018-02-28 12:22] wkillerud commented on #34
See also question raised in #33. This bug should be patched regardless.

[2018-02-28 12:28] henrikhermansen commented on #33
How do we keep track of version requirements between packages?
Say you add a new modifier to `ffe-buttons`.
When you add a property to utilize this modifier in `ffe-buttons-react` the consumers need to know that you need minimum version x.y.z of `ffe-buttons` to actually use the new prop in `ffe-buttons-react`.

Without peerDependencies I guess you need to manually check change logs.
Is this good

[2018-02-28 12:40] wkillerud commented on #34
PR #36 should resolve this issue.

[2018-02-28 13:06] wkillerud commented on #33
A valid concern. Communicating that is difficult.

Maybe it's OK to expect consumers to upgrade both packages (and check the logs of both) when wanting to use a new feature?

Lerna (for valid reasons) [delegates to us to maintain peerDependencies](https://github.com/lerna/lerna/issues/1018).  May be it's just one of those things we have to deal with...

[2018-02-28 13:32] selbekk commented on #34
Edit: Moved comment to #33

[2018-02-28 13:44] wkillerud commented on #34
@selbekk We should perhaps move this discussion to #33?

[2018-02-28 13:54] selbekk opened #37 "Make <RadioSwitch /> more reusable"
#### Which package is this issue related to?
ffe-radio-button-react

#### Describe your issue (screenshots welcome!)
I'm implementing the following design:

![image](https://user-images.githubusercontent.com/1307267/36790597-ac61d97c-1c95-11e8-86b1-d0d2dfad5218.png)

The challenge here is that I want to use `ffe-form-react`'s `<InputGroup />` component, so that I can pass in a `<Tooltip />` compon

[2018-02-28 14:37] selbekk commented on #37
Also noticed how incredibly convoluted the `RadioBase` is as well - including a custom implementation of Tooltips and what not. Rewrite is coming ^^

[2018-02-28 14:49] #14 closed, assigned to henrikhermansen

[2018-02-28 17:05] selbekk commented on #34
Oops, didn't see that issue. Moved my comment there!

[2018-02-28 17:06] selbekk commented on #33
IMO there are three things we need to decide on:

1. If a React component depends on a different local React component package - should it be listed as a dependency, or as a peer dependency + dev dependency?
2. If a React component applies classes that's provided from a different local LESS package - should it be listed as a peer dependency, or not at all?
3. If a LESS package depends on a differe

[2018-02-28 17:16] selbekk commented on #33
How would adding `ffe-core` as a direct dependency trigger this? Quite the contrary - if it's a direct dependency, a mere patch of the consumer should do the trick?

----

With regards to the "react-package-requires-a-certain-less-package"-challenge, we could communicate that through the changelog of ffe-buttons-react.

There are, however, two different approaches we could take:

- **Import the `l

[2018-03-01 07:12] wkillerud commented on #33
Maybe my memory is off here, but I could have sworn a breaking change in `icons-react` lead to a whole set of other breaking changes. Or was that a mishap with Lerna scope?

I don't think we should make decisions about the toolchain of consumers at that level, no. We would have to check how duplicate styles were handled as well.

This could work. React consumers would have one package to manage. C

[2018-03-01 07:13] wkillerud commented on #33
This could be "solved" by telling people to lock their versions, but that effectively means no semver for React packages for those consumers.

[2018-03-01 07:23] chlunde opened #38 "ffe-form: textarea: Text too close to top of input field"
#### Which package is this issue related to?
ffe-form

[code]

#### Describe your issue (screenshots welcome!)
The text inside a textarea seems too close to top border:
![image](https://user-images.githubusercontent.com/131994/36831699-e4e0c16c-1d28-11e8-8ec6-e9c4a0820315.png)

#### What is the expected behavior?
Similar look to normal input field

#### What is the actual behavior?
No top padding:

[2018-03-01 08:16] selbekk commented on #33
Me and @wkillerud had a quick talk about this. Basically the worry about approach number 2 is that for people (like @wkillerud and myself) that would end up using both the React component and the LESS packages directly, this would lead to a lot of trouble if not handled with some care.

Now how would you ever end up in a situation like that, you say? Well in our case, we are migrating a large appl

[2018-03-01 09:11] wkillerud opened #39 "Contributing: Hjelp designere bidra til designsystemet"
Contributing-guiden er veldig utviklersenteret. Hvordan hjelper vi designerne komme i gang som bidragsytere? Hva er de oftest stilte spørsmålene? Hvordan er workflowen?

Vi har gjort noen undersøkelser internt, men vi må få dokumentert det her på Github :writing_hand:

[2018-03-01 10:15] wkillerud commented on #38
Thanks for the detailed bug report!

[2018-03-01 18:17] wkillerud opened #44 "Explicitly drop support for React 15, and other React questions"
We have React 15.x listed as a valid `peerDependency` for two packages:

- `@sb1/ffe-accordion-react`
- `@sb1/ffe-tabs-react`

We use `Fragment`, a React 16.2.0 feature in two packages:

- `@sb1/ffe-details-list-react`
- `@sb1/ffe-file-uploader-react`

In neither of the latter two packages do we list React as a peerDependency (at all, nevermind 16.2.0).

There is also an inconsistency in whether w

[2018-03-01 18:24] wkillerud commented on #44
My 2 cents:

[React 16 was released Sept 26th 2017](https://github.com/facebook/react/releases/tag/v16.0.0), so about six months ago. I think half a year is a long enough grace period, so in my opinion we should go ahead and drop R15 support.

Yes, `16.2.0` so we can use `Fragment` libearlly

Yes, again `16.2.0`

[2018-03-01 18:27] wkillerud commented on #18
Depending on the outcome of #44 we may drop this workaround and comment altogether. For now I think the comment is fine.

[2018-03-01 18:40] wkillerud commented on #34
Fixed in #36

[2018-03-01 18:40] #34 closed, assigned to wkillerud

[2018-03-01 23:03] ivarni commented on #33
FWIW the reason we decided to use peer-deps over regular deps + a less-loader was to avoid a situation were a consumer of N different react-packages ended up with anywhere from 2 to N different versions of i.e. the `ffe-core` less package.

The peer-dep was meant to indicate which versions the different intemediate modules relied on and basically act as a red flag once a consumer put themselves in

[2018-03-01 23:05] ivarni commented on #33
After all, the ones breaking the stuff should perhaps also take the job of cleaning up the aftermath, either that or the maintainers should step in and fix things before a PR is merged / release is made.

[2018-03-02 07:08] selbekk commented on #33
Good points! This cleanup job is much easier now due to our monorepo - I think it’s something the one releasing can do.

[2018-03-02 14:46] antidecaf opened #48 "Styleguide: Flash of unstyled content when opening components page"
When navigating to [components](http://design.sparebank1.no/styleguidist/index.html) from a different page in the styleguide, there is a flash of unstyled content before the styling kicks in and saves the day. The problem is not present in other pages.

![screenshot from 2018-03-02 15-42-58](https://user-images.githubusercontent.com/463847/36904346-c06516a4-1e30-11e8-9c37-d8f767632a8d.png)

[2018-03-02 14:47] wkillerud opened #49 "Stil og tone - one ordered list rendered per item"
It seems the Markdown to HTML transformation isn't working properly for Stil og tone. Each item is rendered as its own `ol` with the result that each item is given the `1.` listing.

![screen shot 2018-03-02 at 15 46 09](https://user-images.githubusercontent.com/1223410/36904377-d7b067f0-1e30-11e8-973f-6ae6a44a4963.png)

[2018-03-02 14:57] #6 closed, assigned to wkillerud

[2018-03-02 15:23] #38 closed, assigned to wkillerud

[2018-03-02 15:24] wkillerud commented on #5
Fixed in #43

[2018-03-02 15:24] #5 closed, assigned to wkillerud

[2018-03-02 17:13] selbekk commented on #39
Burde vi dele opp contributing i en design- og en utviklerdel? Det er to veldige forskjellige domener med veldig forskjellige behov.

[2018-03-05 09:59] TorgeirHeim commented on #33
I agree with your point @ivarni. FFE should be seen as library and it does not make sense to have its sub-parts depend on different versions of dependencies.

[2018-03-05 15:29] wkillerud opened #54 "Show active tab on design.sparebank1.no"
On our various sites we usually indicate the selected tab by highlighting with a line and/or color. See for instance https://www.sparebank1.no/nb/bank/privat/eiendom.html and notice the underline below PRIVAT and color highlight of Eiendom.

It would be nice to have some indication of the currently active tab on design.sparebank1.no as well.

Today:
![screen shot 2018-03-05 at 16 22 19-fullpage](h

[2018-03-05 15:37] wkillerud opened #55 "Meta: should we have labels for FFE and the design system?"
We're starting to see some open issues for design.sparebank1.no as well as FFE. Would it be helpful to add an **:rocket: ffe** and a **:dizzy:  design system** label (emojis pending) to help see at a glance which of the two the issue is about?

[2018-03-05 21:15] selbekk commented on #55
Cool by me!

[2018-03-06 08:09] gbrownlee commented on #55
Agreed.

[2018-03-06 08:11] gbrownlee commented on #7
Is this issue not resolved, @wkillerud ?

[2018-03-06 08:38] selbekk commented on #55
I'll fix!

[2018-03-06 08:38] #55 closed, assigned to nobody

[2018-03-06 08:45] selbekk commented on #54
Is this design okay with you guys @adidick @hodoea ?

[2018-03-06 09:22] antidecaf commented on #54
The active state exists in sketches and the Less/CSS (`.sb1ds-top-menu__item--active`) is in place. (It was implemented as a scrollspy in styleguidist before we decided to split the SPA into different pages.) All that remains at this point is some kind of toggling of the class.

[2018-03-06 09:28] selbekk commented on #22
Should we deprecate and later remove the `--action` modifier then @adidick @hodoea ? Consumers should use the `tips` modifier instead?

[2018-03-06 09:31] selbekk commented on #54
Is this something you want to follow up @antidecaf ? Can I assign it to you? =)

[2018-03-06 09:38] antidecaf commented on #54
Assigned. :+1:

[2018-03-06 09:44] antidecaf opened #56 "Improve mobile navigation"
Layout on mobile screens is pretty crude at the moment, especially navigation. Consider introducing a hamburger for toggling, similar to ffe-header.

![ds](https://user-images.githubusercontent.com/463847/37025171-4c64957e-212b-11e8-80b3-2e342c3f6388.png)

[2018-03-06 14:04] #54 closed, assigned to antidecaf, kwltrs

[2018-03-06 18:58] adidick-zz commented on #54
There are plenty of small design tweaks to the layout that I can look at with you @antidecaf when we get the chance.

[2018-03-06 19:17] adidick-zz commented on #22
It seems like it's something that's not in use or at least in principle shouldn't have a use. Since we haven't heard from anyone else about I'm happy if you remove it.

[2018-03-06 19:42] adidick-zz commented on #11
Yes, we could change it. We'll have to take a look at all possible foreground/background colour combos and see what would work best. It's something I can take up in GD forum.

[2018-03-07 06:58] wkillerud commented on #7
No @gbrownlee - I wanted to get a go-ahead before opening up the org to Coveralls :smile: Anders has given a thumbsup and I take it your comment is a blessing to :shipit: as well? :wink:

[2018-03-07 08:37] #56 closed, assigned to antidecaf

[2018-03-07 10:50] wkillerud commented on #48
I can take a look at this - I suppose we can move Less compilation to an `npm` script and add a `link` tag in `head` instead of bundling styles together with the JavaScript.

[2018-03-07 10:52] wkillerud commented on #48
On second thought, that would make local development more difficult. Maybe `ExtractTextPlugin`? Anyway, I'll give it a shot and open a PR for discussion.

[2018-03-07 10:56] #12 closed, assigned to selbekk

[2018-03-07 11:11] hodoea commented on #39
God idè! Jeg skal ta en liten gjennomgang av Github med designavdelingen på fredag, forhåpentligvis onboarde flere av de og legge til de i github repoet. Btw må man lage en pull request for å endre tekst i readme og contribute?

[2018-03-07 11:21] kwltrs commented on #48
Maybe a production build, that links the two stylesheets instead of insourcing(?) them, could solve this issue. Also, having a link tag to `/styles.css` would be a slight improvement as these styles only apply to the header and navigation and would not affect local development (if one is not working on the header or navigation).

[2018-03-07 11:21] selbekk commented on #39
Jepp. Det gjør du ganske enkelt ved å finne dokumentasjonen du vil endre på (f.eks. `CONTRIBUTE.md`) og trykke på blyanten øverst i høyre hjørne. Da får du opp en editor som gjør at du kan endre ting.

Dette burde stå i CONTRIBUTE.md etterhvert - eller gjør det det i ditt nye PR @wkillerud ?

[2018-03-07 11:46] wkillerud commented on #39
Jeg lenker til de relevante hjelpesidene til Github for det ja @selbekk

[2018-03-07 14:27] antidecaf opened #61 "ffe-buttons: Text is aligned left in block level buttons"
The text in block level buttons is aligned to the left, should be center. This bug is present despite both `text-align: center;` and `align-items: center;` (on the label element) being set.

![screenshot from 2018-03-07 15-19-09](https://user-images.githubusercontent.com/463847/37097393-99dc0684-221b-11e8-91d1-80cf81d5ca12.png)

[2018-03-08 08:25] hodoea commented on #39
@selbekk Ja, jeg la merke til edit ikonet, men viste seg at jeg ikke hadde write-access  så da kom det "fork" mulighet opp. :) Skal prøve igjen, Anders la meg til nå.

[2018-03-08 08:49] selbekk opened #64 "Lint errors should break the build, but doesn't"
#### Which package is this issue related to?
All of them!

#### Describe your issue
The CI is not running `npm run lint` - but it should.

#### What is the expected behavior?
When `npm run lint` fails, the CI fails.

#### What is the actual behavior?
When `npm run lint` fails, the CI passes.

#### Steps to reproduce
Introduce a lint error. Observe.

[2018-03-08 08:51] wkillerud commented on #39
Da er "runde én" med forbedringer i boks. Jeg lar issuet være åpent en stund til (i hvertfall til påske), så om det er noen endringsønsker eller forslag så er det bare å slenge inn en kommentar :dancing_men:

Det med god dokumentasjon er jo et evighetsprosjekt, så etter påske lukker jeg denne saken så får vi heller lage nye om vi kommer på noe lurt :smile:

[2018-03-08 09:29] selbekk commented on #7
I say fail the build if the test coverage decreases.

[2018-03-08 09:51] oskaremil opened #66 "Cannot find module ffe-icons-react/svg.sprite.config.json"
#### Which package is this issue related to?
ffe-icons-react
#### Describe your issue (screenshots welcome!)
[code]
#### What is the expected behavior?
Packages are built and development server is started
#### What is the actual behavior?
npm error message on build
#### Steps to reproduce

- Fresh clone from `master` (commit `29bb1cf0cb4795a11cbcb8cd917b10560b56d5eb`)
- Using node v8.10.0
- Using

[2018-03-08 10:20] wkillerud commented on #7
I'm thinking not allowing any decrease at all may be a bit harsh, but we can give it a try and see if it causes unnecessary problems.

[2018-03-08 10:36] wkillerud commented on #66
Thanks for the detailed bug report @oskaremil :+1: I'm afraid I can't reproduce the issue though.

Tested `29bb1cf0cb4795a11cbcb8cd917b10560b56d5eb` using Node v8.9.4 and npm 5.6.0 on Ubuntu Linux 17.10. Ran `npm install` and `npm start`, and I did not get the error you describe.

[code]

Also tested a fresh clone on Windows using Git Bash since it looks from the paths in your stack trace that you

[2018-03-08 10:38] wkillerud commented on #66
The second I finished writing the above I think I spotted the issue. The command requires the folder name of the repo be `designsystem` for path reasons (the package has to traverse up _n_ directories to find the config when the package is used due to how scoping works with `node_modules/`. I see your folder is named `sparebank1-designsystem`. If you rename it it should work @oskaremil .

[2018-03-08 10:40] wkillerud commented on #66
Hm, this is a poor developer experience and an issue we haven't considered. I'll create a new issue to see if we can improve things so we don't put constraints on the folder name.

[2018-03-08 10:46] wkillerud opened #67 "Don't put constraints on the name of the repo folder"
#### Which package is this issue related to?

`ffe-icons` and `ffe-icons-react`

#### Describe your issue (screenshots welcome!)

#66 describes a problem caused by the `ffe-icons --opts=designsystem/packages/ffe-icons-react/svg.sprite.config.json` command in `ffe-icons-react`. It requires the name of the folder containing this repo be `designsystem`. If someone renames the folder or clones it with

[2018-03-08 10:47] wkillerud commented on #66
We'll track progress on this issue on #67, so I'll close this one for now. A workaround while you wait for a fix is to name the folder `designsystem`.

[2018-03-08 10:47] #66 closed, assigned to wkillerud

[2018-03-08 11:25] antidecaf commented on #61
@selbekk Would you like to take a look at this? This bug seems to have occurred after the ffe-buttons rewrite.

[2018-03-08 11:26] #64 closed, assigned to selbekk

[2018-03-08 11:34] selbekk commented on #61
Thanks! Yeah there's probably going to pop up a few of these - I'll fix em as they show up. Keep em coming!

[2018-03-08 12:56] wkillerud opened #69 "Linting fails randomly in Travis CI"
Some of the linting subprocesses get killed in Travis. We may need to tweak Lerna to do fewer things in parallel during CI.

[2018-03-08 16:51] wkillerud commented on #4
Fixed by #27

[2018-03-08 16:51] #4 closed, assigned to nobody

[2018-03-08 19:03] wkillerud commented on #24
I have a [branch with a working build using svgstore](https://github.com/SpareBank1/designsystem/tree/24-icons), but some of the icons are broken. I'll see if I get the time to work on this later at some point.

[2018-03-08 19:39] oskaremil commented on #66
Thank you.

BTW, running in Ubuntu on Windows.

When I tried to run on Windows some package (don't remember which) throws an error because command 'cp' is not found.

[2018-03-08 20:29] #49 closed, assigned to wkillerud

[2018-03-09 08:48] #61 closed, assigned to selbekk

[2018-03-09 08:54] wkillerud commented on #48
Merged the improvements. They'll need to be published though, and as far as I can tell from #3 it's a manual process. @antidecaf, you fix? :bowing_man:

[2018-03-09 09:13] antidecaf commented on #48
^ @kwltrs 👼

[2018-03-09 09:50] hodoea commented on #22
@espenvoll @sirioc @christofferaunesb1 @helenetho @heilysto @chribran1  @mario-pereira
SE HER #test (dette er ikke svar på issuet men en test for å tagge nye brukere av Github :P )

[2018-03-09 09:52] sirioc commented on #22
OK

[2018-03-09 09:53] christofferaunesb1 commented on #22
OK

[2018-03-09 09:53] espenvoll commented on #22
OK

[2018-03-09 09:54] Heilysto commented on #22
Ok, mottatt! Regner med det kommer en lenke til issue her også?

Fra: Hodo Elmi Aden <notifications@github.com<mailto:notifications@github.com>>
Svar til: SpareBank1/designsystem <reply@reply.github.com<mailto:reply@reply.github.com>>
Dato: fredag 9. mars 2018 10.52
Til: SpareBank1/designsystem <designsystem@noreply.github.com<mailto:designsystem@noreply.github.com>>
Kopi: Heidi Lyngvær Stolen <he

[2018-03-09 09:54] ChriBran1 commented on #22
Aight
Med vennlig hilsen,
Christian Brandt

Grafisk Designer
Designavdelingen SpareBank 1 Banksamarbeidet
e-post: christian.brandt@sparebank1.no<mailto:siri.corneliussen@sparebank1.no>
tel: 967 06 649

Fra: Hodo Elmi Aden <notifications@github.com<mailto:notifications@github.com>>
Svar til: SpareBank1/designsystem <reply@reply.github.com<mailto:reply@reply.github.com>>
Dato: fredag 9. mars 2018 10

[2018-03-09 09:56] sirioc commented on #22
@Heilysto

[2018-03-09 09:58] hodoea commented on #22
@Heilysto @ChriBran1

[2018-03-09 10:00] mario-pereira commented on #22
OK

[2018-03-09 10:04] hodoea commented on #22
@Heilysto @ChriBran1 TEST

[2018-03-09 10:57] hodoea commented on #22
@helenetho

[2018-03-09 10:58] Helenetho commented on #22
hi ppl

[2018-03-09 11:24] kwltrs opened #73 "Link to github from github pages site"
I suggest to add a link to this github repository to the top navigation of the design system site, because the packages READMEs are the main source of information for developers on how to actually install FFE-packages. Also, a github-logo up there is a great show-off.

[2018-03-09 11:38] antidecaf commented on #73
I'll be happy to add this if you're not already on it.

[2018-03-09 13:01] hodoea commented on #22
@krisoren test

[2018-03-09 13:07] kwltrs commented on #73
@antidecaf go ahead.

[2018-03-09 13:09] kwltrs commented on #3
@wkillerud You are currently the expert on travis. Do think using travis to push to gh-pages is a good idea?

[2018-03-09 13:19] Krisoren commented on #22
@hodoea test tilbake

[2018-03-09 13:48] wkillerud commented on #3
Sure, it looks like they have great support for this :) https://docs.travis-ci.com/user/deployment/pages/
I can set up a PR with a suggested config. We should consider which account we create the access token with though, perhaps it's time for a dedicated automation account.

[2018-03-09 14:01] #69 closed, assigned to wkillerud

[2018-03-09 15:10] hodoea opened #80 "Mulig å fjerne "røkla" som fargekategori og bytte ut med følgende forslag?"
Noen av fargene under "røkla"( som vi må finne en ordentlig kategorinavn for btw) er WCAG farger. @heilysto nevnte dette sammen med Julia T(grafiske designere).

<img width="781" alt="skjermbilde 2018-03-09 kl 16 08 29" src="https://user-images.githubusercontent.com/8971560/37214102-45d936ac-23b4-11e8-9fb1-e8c5f0917201.png">

Jeg har et forslag her(se kategorinavn på screen under) @heilysto  :)

<

[2018-03-12 07:20] #7 closed, assigned to wkillerud

[2018-03-12 10:07] antidecaf commented on #80
Kategorinavnene er jo for så vidt greie, men dette adresserer strengt tatt ikke "røkla" (eller den nøytrale paletten). Kategoriene i screenshotet overlapper i stor grad med kategoriene som allerede ligger i oversikten. Hva gjør vi med fargene som ikke finnes i screenshotet?

[2018-03-12 12:56] #67 closed, assigned to kwltrs

[2018-03-12 13:05] #73 closed, assigned to antidecaf

[2018-03-12 13:30] hodoea opened #83 ""Hva er nytt" (changelog)"
Jeg har et forslag om å legge til en changelog på forsiden av design.sparebank1.no. Se screen under (plassering og layout er kun en skisse)

Kanskje det kan hjelpe oss med å vise at designsystemet er levende og at vi unngår forvirring fra andre om siden er oppdatert eller ikke.....

![changelog- design sparebank1 no](https://user-images.githubusercontent.com/8971560/37286361-fa7391f8-2601-11e8-88f

[2018-03-12 13:48] hodoea opened #84 "Readme: navn på fagledere :)"
Kan vi legge til navnet på faglederne i Readme: Anne Gundersen og Hans Huseklepp?

![fagledere](https://user-images.githubusercontent.com/8971560/37287169-6cb5cb58-2604-11e8-9393-61d5b58852bb.png)

[2018-03-12 13:50] wkillerud commented on #84
Det kan vi gjøre :) Har du lyst til å gjøre endringen via webgrensesnittet @hodoea, eller skal jeg lage en pull request?

[2018-03-12 14:20] hodoea opened #85 "Endre ikoner i komponent biblioteket"
Fikk en forespørsel fra en utvikler i Åpne Sider om ikoner i komponent biblioteket på design.sparebank1.no. som ikke stemte helt med det hun fikk i Invision. Dette bør vi endre slik at andre ikke blir forvirret :)

<img width="973" alt="skjermbilde 2018-03-12 kl 15 12 28" src="https://user-images.githubusercontent.com/8971560/37288808-7a383fbe-2608-11e8-8bf3-578e8e58204e.png">
Denne har feil størr

[2018-03-12 14:36] hodoea commented on #84
@wkillerud Jeg gjorde endringen via webgrensesnittet men jeg måtte fortsatt lage en pull request.. Så jeg gjorde det og satte deg på review. Håper det er greit

[2018-03-13 07:40] wkillerud commented on #84
Supert, tusen takk! Merget inn nå, så da er det i boks :)

[2018-03-13 07:40] #84 closed, assigned to hodoea

[2018-03-13 07:48] selbekk commented on #83
Fet idé!

En kompliserende faktor her er at vi ikke har en felles versjon for hele designsystemet. Hver "pakke" (knapper, meldingsbokser, inputfelt, datepickers etc) har hver sin versjon, så å vise et versjonsnummer kan være litt krøkkete. En annen kompliserende faktor er også at vi har to ting vi kunne pratet om her - selve designsystem-siden (og innholdet er) og komponentene som implementerer de

[2018-03-13 08:40] antidecaf commented on #83
God idé, en sånn oppsummering hadde vært kult å kunne vise frem!

Kunne det også vært mulig å bruke lista over [_alle_ commits](https://github.com/SpareBank1/designsystem/commits/master) i repoet til noe fornuftig? Ser ut som det skal være mulig å få tak i vha [Rest-apiet](https://developer.github.com/v3/repos/commits/) til github. For eksempel kunne vi prøvd å bruke den til å vise frem de ~10 sis

[2018-03-13 08:46] #22 closed, assigned to adidick-zz

[2018-03-13 08:50] selbekk commented on #83
Ulempen der er jo at vi skriver commitmeldingene våre på engelsk (gjerne med migrasjonsguider etc), som ikke gjør seg spesielt bra som en oppsummering

[2018-03-13 09:20] selbekk commented on #37
Fixed by #50

[2018-03-13 09:20] #37 closed, assigned to selbekk

[2018-03-13 09:34] wkillerud opened #87 "ffe-buttons: Anchors not vertically aligned with buttons in button group"
#### Which package is this issue related to?

`ffe-buttons`

#### Describe your issue (screenshots welcome!)

![screen shot 2018-03-13 at 10 28 40](https://user-images.githubusercontent.com/1223410/37333300-5163475e-26a9-11e8-8f99-68ebd5ec8845.png)

The primary button is an `a` element in the picture above. Swapping the primary button to a `button` element and changing the secondary button to an `

[2018-03-13 09:40] wkillerud commented on #87
The reimplementation of the buttons made use of flexbox, so it may be some _old meets new_ thing going on here.

Adding `display: flex;` to the button group and `display: inline-flex;` to the buttons resolves the issue.

[2018-03-13 11:50] wkillerud commented on #3
Solved by #78 and #89. Still TODO is to create a dedicated account and replace the GitHub token on Travis.

[2018-03-13 11:52] wkillerud commented on #3
@kwltrs, can you sort out the dedicated account and new token? I can help with the config if you need :)

[2018-03-13 11:57] #48 closed, assigned to wkillerud

[2018-03-13 14:01] kwltrs commented on #83
Som inspirasjon: det er mulig å få en CHANGELOG på root-nivå med `./node_modules/.bin/conventional-changelog --outfile CHANGELOG.md`.

Resultatet er da en changelog for hele historien: https://gist.github.com/kwltrs/8e08c6a524fa0a5c241c27d62dc3f010

Kanskje man kan tweake parameter og tagging slik man får noe brukbart?

[2018-03-13 14:55] hodoea opened #91 "Stil og tone -forslag"
Lurte på om vi kunne endre one-linern til stil og tone siden( akkurat nå er det egentlig one-linern til merkevare siden som vi endret til stil og tone)

Et forslag fra @christerjohnsrud:

<img width="741" alt="skjermbilde 2018-03-13 kl 15 04 43" src="https://user-images.githubusercontent.com/8971560/37349290-5cfc77e8-26d6-11e8-80eb-a91d6c93fc21.png">

Dette forslaget under kan ventes med:

Vi har

[2018-03-13 15:13] antidecaf commented on #85
@hodoea Den andre du nevner ("Noe er feil her") er en feilmelding som hører til skjemavalidering. Antar ikonet skal være det samme utropstegnet som i det nederste eksempelet, men hva er riktig størrelse og farge der?

[2018-03-13 16:18] selbekk commented on #3
Should we close this issue and create a new one for creating a new dedicated account? This issue seems to be resolved.

[2018-03-13 16:19] selbekk commented on #11
I'll assign this to you then @adidick - do you mind updating us when you've had a talk with your colleagues at the GD forum?

[2018-03-14 07:26] wkillerud commented on #91
Veldig fint om vi kan legge til disse personene på siden ja - alltid fint å ha noen å spørre :)

Jeg kan endre onelineren til forslaget :+1:

[2018-03-14 08:21] hodoea commented on #85
@antidecaf Det er jeg faktisk usikker på. Jeg har hørt med noen av GDerne for å være sikker. :)

[2018-03-14 08:50] antidecaf opened #93 "Styleguide: Flexbox related IE-bugs in top menu"
The top menu is not rendered properly in IE(11). Possibly caused by IE's interpretation of `flex: 1`.

[2018-03-14 09:56] antidecaf commented on #85
@hodoea Den er god. Jeg sender en PR nå, der ikonene i alle fall er byttet til det riktige (gjelder alle field-messages). Kan justere størrelse og farge på de i tillegg når vi vet hva som er fasiten. :)

[2018-03-14 14:24] #85 closed, assigned to antidecaf

[2018-03-14 15:17] #93 closed, assigned to antidecaf

[2018-03-15 09:21] wkillerud opened #96 "Set up a dedicated account for automation"
Related to #3

To get continuous integration, coverage reporting, vulnerability scanning, and automated deploys up and running we've been using different admins accounts while setting up.

To have better control of things such as Personal Access Tokens and what users are able to change settings for things like Coveralls we'd like to set up a dedicated account controlled by SpareBank 1 to "own" the

[2018-03-15 09:21] wkillerud commented on #3
Created #96 to track the remaining work

[2018-03-15 09:21] #3 closed, assigned to kwltrs

[2018-03-15 14:23] #96 closed, assigned to kwltrs

[2018-03-15 15:23] ksawerysb1 opened #97 "ffe-datepicker navigation with incomplete date in text input field"
#### Which package is this issue related to?
ffe-datepicker
#### Describe your issue (screenshots welcome!)
The datepicker month/day buttons are locked when the date in the text field is incomplete, for example when we delete a character in a year. It makes it hard to just 'click yourself' to a date in the calendar, change a month etc.
![datepicker screenshot from 2018-03-15](https://user-images.g

[2018-03-16 07:01] wkillerud opened #98 "ffe-grid(-react): Modifier for setting `text-align: center;`?"
#### Which package is this issue related to?

ffe-grid and ffe-grid-react

#### Describe your issue

When using the `center` modifier the boxes in the grid column get centered horizontally, but the content inside those boxes does not get centered.

Sometimes I'd like to center the text content as well. Now I have to add a custom class just to center some text.

Would it be OK to add a new modifier

[2018-03-16 11:51] ksawerysb1 commented on #97
Working on the case

[2018-03-16 13:40] antidecaf commented on #98
Do it! :v:

[2018-03-16 14:05] wkillerud opened #100 "ffe-radio-button-react: RadioBlock is not being exported"
#### Which package is this issue related to?

`ffe-radio-buton-react`

#### Describe your issue

`RadioBlock` is not being exported, so importing the intended way does not work.

#### What is the expected behavior?

If I write `import { RadioBlock } from '@sb1/ffe-radio-button-react';` I should be able to use `RadioBlock`.

#### What is the actual behavior?

The component is not exported, so `Radi

[2018-03-16 14:06] wkillerud commented on #100
#### Workaround

The component is transpiled and shipped in the `lib/` folder, so a workaround is to `import RadioBlock from '@sb1/ffe-radio-button-react/lib/RadioBlock';`

[2018-03-16 17:30] selbekk commented on #98
On it! 💪🏿

[2018-03-19 07:29] #100 closed, assigned to nobody

[2018-03-19 07:29] #98 closed, assigned to nobody

[2018-03-19 07:30] wkillerud commented on #87
Fixed by #88

[2018-03-19 07:30] #87 closed, assigned to wkillerud

[2018-03-19 10:41] wkillerud commented on #44
Seems like there is consensus for this change. I'll see if I can bring up a PR some time this week.

[2018-03-19 10:42] wkillerud commented on #18
From #44 we'll be dropping support for React 15, so this workaround can be removed. I'll do it as a separate commit when working on #44.

[2018-03-19 13:08] kwltrs commented on #18
Keep in mind that the comment pre-dates  the release of React 16 and we need to verify that this known issue is solved.

[2018-03-20 08:43] antidecaf opened #103 "Docs: Elaborate how to get started using ffe in other projects"
Readme.md currently describes how to clone the repo, run builds and start a local server. Some documentation on how to import components and styling and into your own project/consuming the system in general might come in handy as well.

[2018-03-21 07:24] wkillerud opened #104 "Missing autoprefixer in Designsystem build pipeline"
#### Which package is this issue related to?

The design guide build creating design.sparebank1.no

#### Describe your issue

In Chrome an extra caret is rendered (tested in Chromium 64):

![design sparebank1 no_styleguidist_index html](https://user-images.githubusercontent.com/1223410/37698043-ede0ca7e-2ce0-11e8-9367-4bd556f3b37e.png)

Looking at the code we have this case covered with this [appe

[2018-03-21 07:52] wkillerud commented on #104
I see `less-plugin-autoprefixer` is already a dependency, but we're missing the `--autoprefixer` option for `lessc`. Solved in #105.

[2018-03-21 07:57] wkillerud opened #106 "Should we use Greenkeeper?"
[Greenkeeper](https://greenkeeper.io/) is a cool service which is open to us now that we're on GitHub.

What is Greenkeeper?

Also:

[2018-03-21 09:07] #104 closed, assigned to wkillerud

[2018-03-21 09:07] selbekk commented on #106
I think we should!

[2018-03-21 12:30] torbein opened #107 "ExpandButton takes full width of surrounding container when expanded"
#### Related to:
designsystem/packages/ffe-buttons/less/base-button.less

ExpandButton when expanded is now taking the full width of the surrounding container. This behavior has been introduced in newer versions, but should should be changed back to how it was before, where the width is decided be the icon shown in the ExpandButton.

#### Expected behavior?
Should have the same width as the icon a

[2018-03-21 14:34] antidecaf commented on #106
Sounds good to me!

[2018-03-21 15:24] wkillerud opened #108 "Set up Greenkeeper"
[Greenkeeper](https://greenkeeper.io/) is a cool service which is open to us now that we're on GitHub.

What is Greenkeeper?

Also:

If it requires any setup such as access tokens etc then make sure to use the dedicated design system account (ping _kwltrs_ for help on this).

[2018-03-21 15:24] wkillerud commented on #106
Opened #108

[2018-03-21 15:24] #106 closed, assigned to nobody

[2018-03-21 17:01] selbekk commented on #108
Do you want to do this @kwltrs, since you have the login info to set it up correctly? If not, slide by my desk or pass me an email with the credentials or something. It looks pretty simple to set up, but you need to add it as the correct user.

[2018-03-21 17:03] selbekk commented on #11
Any update here @adidick ? :)

[2018-03-21 17:08] selbekk opened #109 "Modernize ffe-system-message-react"
#### Which package is this issue related to?
[`ffe-system-message-react`](https://github.com/SpareBank1/designsystem/blob/master/packages/ffe-system-message-react)

#### Describe your issue (screenshots welcome!)
The current implementation has several shortcomings:

- You can't add extra classes
- It implements its own collapse instead of using `react-collapse` like the rest of FFE
- It uses the d

[2018-03-22 06:25] ivarni commented on #11
This has been a problem since forever. We're not doing any custom focus-styles so we just get whatever default the browser has and that does not play nice with our colours most of the time.

We have a similar issue with focus on radio-buttons, especially when they're active.

[2018-03-22 07:28] wkillerud commented on #11
We do, actually. At least for [buttons](https://github.com/SpareBank1/designsystem/blob/405a4559cfcf27b0556f82ea6e347d5da92dd9e4/packages/ffe-buttons/less/base-button.less#L75-L76) and [form fields](https://github.com/SpareBank1/designsystem/blob/405a4559cfcf27b0556f82ea6e347d5da92dd9e4/packages/ffe-form/less/input-field.less#L20-L22). The focus ring is "Chrome-like", but for instance in Firefox i

[2018-03-22 11:15] kwltrs commented on #108
We need to wait for greenkeeper to support monorepos, see https://github.com/greenkeeperio/greenkeeper/issues/594

[2018-03-22 11:23] wkillerud commented on #108
Right, I hadn't considered the (lack of) monorepo support...

[2018-03-22 11:42] selbekk commented on #108
I don|t see why we need to wait for that in order to use Greenkeeper at a top level. That's where most of our dev dependencies and all styleguide dependencies are anyways?

[2018-03-22 12:13] torbein opened #114 "ffe-button-group do not wrap buttons onto multiple lines"
#### Package this issue related to:
designsystem/packages/ffe-buttons/less/button-group.less
#### Issue:
As shown in the screenshot below the buttons in ffe-button-group div do not wrap when the width of the parent is to small.
![screenshot from 2018-03-22 12-10-46](https://user-images.githubusercontent.com/1019313/37769139-4fcb710e-2dd0-11e8-9952-2eeb9e630507.png)

#### Expected behavior:
Buttons

[2018-03-22 12:22] ivarni commented on #114
Looks like `display: flex;` was added [here](https://github.com/SpareBank1/designsystem/commit/57f5219bb20aa1637ccefac5a26c20cce94efdb3#diff-c5c60a5af22b7c2a1bd3fbe80e08c51bR2)

`.ffe-button-group` should have had `flex-direction: column` on small screens I think.

[2018-03-22 13:37] antidecaf commented on #114
^ To expand on that, children of `.ffe-button-group` do seem to have `flex-direction: column`, but the property needs to be assigned to the parent element in order to work as expected.

[2018-03-22 15:06] oskaremil opened #115 "Inline javascript required to process less files"
There are two places where inline javascript is used in the less files:

- packages\ffe-form\less\dropdown.less:2:@bare-color: replace(~`'@{color}'`, '#', '');
- packages\ffe-searchable-dropdown-react\less\searchable-dropdown.less:2:  @bare-color: replace(~`"@{color}"`, "#", "");

Inline javascript makes it harder for angular-cli based projects to use all the components as the less-loader in webpa

[2018-03-22 17:13] selbekk commented on #19
I'm closing this for now, since there isn't a lot of people putting forward their opinions. I'm cool with it staying Norwegian - but the mixing of languages is a bit of a... downer.

[2018-03-22 17:13] #19 closed, assigned to nobody

[2018-03-22 21:21] hodoea commented on #80
Vi har et forslag i loopen til farge-seksjonen i visuell identitet(bruk og eksempler:D) Kommer her i neste uke forhåpentligvis :)

[2018-03-23 09:01] ivarni commented on #114
I can only see `flex-direction: column` on the `.ffe-inline-button` class, but either way buttons on small screens should stack vertically and take the full width while they should line up horizontally on larger screens.

I'm not sure what should happen on larger screens if there are too many buttons to fit in horizontally, I've never seen that happen.

[2018-03-23 09:13] selbekk commented on #115
Hm... FWIW, the lines you're referring to are not inline JavaScript, but [LESS functions](http://lesscss.org/functions/).

What are the problems you're experiencing? Does it crash while building? Can you please post the errors your set up produces?

[2018-03-23 11:03] oskaremil commented on #115
Markdown formatting removed my backticks and displayed the functions with code formatting insted. Correct output is:

[code]

I know `replace` is a LESS function and replace is not the problem. LESS preprocessor parses everything between backticks as javascript. I'll throw in a [link to a blog post](https://www.bennadel.com/blog/2638-executing-javascript-in-the-less-css-precompiler.htm) since, as

[2018-03-23 11:03] #115 closed, assigned to nobody

[2018-03-23 11:24] OptimusCrime opened #116 "Conventional Commits changelog generator creates malformed markdown syntax"
### Which package is this issue related to?

All [packages](https://github.com/SpareBank1/designsystem/tree/master/packages).

### Describe your issue

The [Conventional Commits](https://conventionalcommits.org/) changelog generator package seem to create malformed/incorrect markdown syntax.

**Example (from [ffe-core/CHANGELOG.md](https://github.com/SpareBank1/designsystem/blob/master/packages/ff

[2018-03-23 11:25] kwltrs opened #117 "Add contact information to frontpage of design.sparebank1.no"
Maybe it should be easier to find out who and how to contact us, i.e. move the information given in https://github.com/SpareBank1/designsystem/blob/7e918f7429c388602ef9fd53f56deba08dfc3199/styleguide-content/kom-i-gang/hjelp.md to the frontpage. Yay or nay?

[2018-03-23 12:40] antidecaf commented on #117
Yay.

[2018-03-23 13:40] kwltrs commented on #116
This does not happen with all packages, but some CHANGELOGs are indented as expected (e.g. [ffe-cards](https://github.com/SpareBank1/designsystem/blob/7e918f7429c388602ef9fd53f56deba08dfc3199/packages/ffe-cards/CHANGELOG.md)). Some research shows that this unexpected indentation is caused by [dedent](https://github.com/dmnd/dedent), which lerna uses when generating the CHANGLOG files. I think this

[2018-03-23 15:16] sebasso opened #118 "Accessibility - empty elements"
#### Which package is this issue related to?
ffe-tables-react, ffe-searchable-dropdown
#### Describe your issue (screenshots welcome!)
Certain elements does not have any content which poses a challenge for
those using assistive technologies as shown under with the plugin _WAVE_ in chrome.
![empty-button-content](https://user-images.githubusercontent.com/3595057/37836421-ad56d52e-2eb2-11e8-9ae5-a39

[2018-03-23 19:19] selbekk commented on #117
Yay!

[2018-03-25 14:06] ivarni opened #120 "Redirect to HTTPS"
#### Which package is this issue related to?

N/A

#### Describe your issue (screenshots welcome!)

http://design.sparebank1.no/ should redirect to https://design.sparebank1.no/

#### What is the expected behavior?

That all the things are encrypted with SSL

#### What is the actual behavior?

It's possible to go to the designguide via HTTP

#### Steps to reproduce

goto http://design.sparebank1.n

[2018-03-25 14:07] ivarni opened #121 "Add a favicon"
#### Which package is this issue related to?

N/A

#### Describe your issue (screenshots welcome!)

We should have a favicon for https://design.sparebank1.no/, maybe the same that is used on https://www.sparebank1.no/ ?

#### What is the expected behavior?

A nice shiney favicon on the browsertab

#### What is the actual behavior?

No nice shiney favicon on the browsertab 😭

#### Steps to reproduc

[2018-03-25 16:20] ivarni opened #122 "Don't add `role="button"` to non-expandable table rows"
#### Which package is this issue related to?

ffe-tables-react

#### Describe your issue (screenshots welcome!)

Looking at the rendered markup in the [styleguide](https://design.sparebank1.no/styleguidist/index.html#table) for the `Table` component it seems to add a `role="button"` property even when the table-rows are not expandable.

![image](https://user-images.githubusercontent.com/379849/378

[2018-03-26 08:37] #121 closed, assigned to nobody

[2018-03-26 08:42] #44 closed, assigned to wkillerud

[2018-03-26 11:45] antidecaf commented on #118
What exactly is the problem in `ffe-searchable-dropdown`? A few more details on how to reproduce this would be good.

As far as the empty header to the right goes, hiding contents to pass validation isn't really an ideal solution. A couple of alternatives:
* Render a `td` in stead of a `th` if it's empty (apparently table cells do not require data, as opposed to headers)
* Specify an `aria-role` (

[2018-03-26 13:06] kwltrs commented on #120
There's a checkbox for that: https://help.github.com/articles/securing-your-github-pages-site-with-https/

[2018-03-26 13:08] ivarni commented on #120
If it was designed by us it would probably have been a radiobutton 🤣.

Tested now and was redirected. LGTM.

[2018-03-26 13:08] #120 closed, assigned to nobody

[2018-03-26 13:37] selbekk opened #126 "Missing prop type documentation for <Table />"
#### Which package is this issue related to?
ffe-tables-react

#### Describe your issue (screenshots welcome!)
The `<Table />` prop types are not showing up in the design guide, They should show up - but I have a feeling that since there is a folder named `Table` and a file `Table.js`, some info is lost. Perhaps a rename would fix it?

[2018-03-27 07:31] #97 closed, assigned to nobody

[2018-03-27 19:32] selbekk opened #128 "Restore the scroll in design guide"
#### Which package is this issue related to?
The design guide website

#### Describe your issue (screenshots welcome!)
The design guide's component library doesn't scroll to the top of the page whenever you enter a component sub page.

#### What is the expected behavior?
I expect the scroll to be restored

#### What is the actual behavior?
The scroll isn't restored, and I have to scroll for 10 min

[2018-03-28 07:24] #109 closed, assigned to selbekk

[2018-03-28 07:32] selbekk opened #132 "Improve the ffe-tables-react API"
#### Which package is this issue related to?
ffe-tables-react

#### Describe your issue (screenshots welcome!)
The API is massive, and hard to use. Several people in our team avoid this component, just because the level of abstraction is too damn high.

#### What is the expected behavior?
I would love an API that's less abstracted, and that's discussed thoroughly here before implemented.

This is

[2018-03-28 08:28] hodoea opened #133 "Grid aka rad?"
<img width="953" alt="skjermbilde 2018-03-28 kl 10 25 45" src="https://user-images.githubusercontent.com/8971560/38017510-8f191da6-3272-11e8-9980-643069f4fa7c.png">

Hva er bakgrunnen for dette? Hva menes det med en rad?

[2018-03-28 10:07] selbekk commented on #133
En grid er satt sammen av rader og kolonner. Grid-et vi har laget har støtte for å ha utfallende farger på radene.

[2018-03-28 10:33] hodoea commented on #133
@selbekk Ok :) Vi ser på spacing og grid og vi tror at vi ikke bruker helt samme grid som dere.
Bruker dere CSS grid?  CC @Heilysto @julesoslo

[2018-03-28 10:38] selbekk commented on #133
Hei! Det skal vi få ordnet opp i. Vårt grid har følgende spacing-verdier:

Kolonner: 4 på små enheter, 6 på mellomstore enheter, 12 på store enheter.
Bredde: 1280px;
Gutters (plass mellom kolonner) på små enheter: 20px;
Gutters (plass mellom kolonner) på store enheter: 20px;
Gutters (plass mellom kolonner) på små enheter i condensed versjon (for BM typisk): 10px;
Gutters (plass mellom kolonner) på

[2018-03-28 10:45] hodoea opened #135 "Hvor er disse to fargene brukt?"
<img width="840" alt="skjermbilde 2018-03-28 kl 12 43 48" src="https://user-images.githubusercontent.com/8971560/38024575-bc56a0dc-3285-11e8-8300-2a73eb0316c1.png">

Vi vet at de er i bruk et eller annet sted, men de er ikke en del av verktøy kassen. Hadde vært super nyttig for oss å få vite i hvilken kontekst de er i bruk der ute. :) Jobber med å frem et forslag på mapping farge visning og brukso

[2018-03-28 11:10] antidecaf commented on #135
"Lys blå" tilsvarer `Blue Deep Sky` i designsystemet. Ser ikke umiddelbart noe mønster i hvilken kontekst den er brukt i og hvorfor, men et søk på fargenavnet gir treff i 53 filer fordelt på et ukjent antall apper i både bank og forsikring. Den brukes tilsynelatende i linker, paginering, ikoner, grafer og lignende.

"Lys blå 50%" tilsvarer `Blue Sky` og er å finne i 17 filer fordelt på 7 apper så

[2018-03-28 11:10] selbekk commented on #135
Lys blå (som i FFE er kalt `ffe-blue-deep-sky`) brukes i hovedsak på lenker. tekst på hvite knapper (sekundære knapper) og på aktive radioknapper.

Lys blå 50% (som i FFE-er kalt `ffe-blue-sky`) brukes i `chart-donut` her i FFE, i tillegg til tooltips i seopp, litt rundt om på åpne nettsider og et par andre spredte steder i bl.a. sparing, bm-filer og bm-likvididet.

[2018-03-28 11:10] selbekk commented on #135
Jamen søren a @antidecaf  👍 Flott teamwork!

[2018-03-28 12:14] hodoea opened #136 "Forslag: Inndeling av komponent biblioteket"
Vi har et forslag til komponent biblioteket hvor vi kan forhåpentligvis gjøre det litt enklere å skille litt mer på innholdet som er rettet mot utviklere/designere.

Hovedside:
![knapper - hovedside](https://user-images.githubusercontent.com/8971560/38028158-5105e8da-3292-11e8-966f-8ff75cf74559.png)

Bruksområde:
![knapper - bruksomrade](https://user-images.githubusercontent.com/8971560/38028418-2

[2018-03-28 12:23] hodoea commented on #135
Dere altså. :D Tuuusen takk for svar! Se her: @Heilysto  @julesoslo

[2018-04-04 06:53] #39 closed, assigned to wkillerud

[2018-04-04 08:25] wkillerud opened #137 "ffe-datepicker-react: Tab prison in Firefox"
#### Which package is this issue related to?

`ffe-datepicker-react`

#### Describe your issue

If the input field for the datepicker is focused pressing Tab always opens the calendar. When pressing Tab again the calendar is closed and the input field is given focus. Pressing Tab again opens the calendar. Pressing tab again gives the input field focus. Pressing tab again opens the calendar... :pol

[2018-04-04 12:13] ksawerysb1 commented on #137
@wkillerud which browser? Chrome seems to work fine. In Firefox I believe there is some sort of race condition here because pressing tab with longer intervals always closes the datepicker, while pressing it with rapid succession changes the focus to the next input field without closing the datepicker, but it closes after a few more presses...

[2018-04-04 13:10] ivarni commented on #137
Works for me in
Chrome 65.0.3325.162
IE 11.2125.14393.0
Edge 38.14393.2068.0

Reproduced in
Firefox 59.0.2

[2018-04-05 06:42] wkillerud commented on #137
Right, I'm using Firefox. Running Nightly 61.0a1, but I see Ivar reproduced it in Stable.

So it's a browser specific race condition - nice :smile:

[2018-04-05 11:10] hdaljord opened #140 "Difficult to visually see which selected radio switch button that are active"
#### Which package is this issue related to?
ffe-form

#### Describe your issue (screenshots welcome!)
It is difficult to visually see which of two (ore more) sets of radio switch buttons that are active/focused.

This is not a big issue when navigating with mouse, but when the user navigates with the keyboard the blue ring around an already selected radio switch is hardly noticable.

This can be

[2018-04-05 13:28] #126 closed, assigned to selbekk

[2018-04-05 13:31] selbekk commented on #140
Related to / duplicate of #11

I agree!

[2018-04-05 14:22] #122 closed, assigned to selbekk

[2018-04-06 05:39] ivarni commented on #140
Yeah, we can probably close either this one or #11, we don't need two :)

Any news on how we're going to solve this @adidick ?

[2018-04-06 05:59] hdaljord commented on #140
Sorry, read all the issue topics but somehow I missed #11, I can close this one, as it's the duplicate :)

[2018-04-06 05:59] #140 closed, assigned to nobody

[2018-04-06 06:51] adidick-zz commented on #11
Hi all, sorry, looks like I missed this one! What would be the best technical solution here? @wkillerud @ivarni @selbekk We have different coloured button variations throughout our design that will prove troublesome with the blue focus colour we use. What about if we added a 1px white border to the outside of the button (which lies inside the focus blue blur colour)? Atlassian do it (I'm not sure

[2018-04-06 06:52] adidick-zz commented on #140
I've added a comment to #11
Atlassian have a subtle white border around their buttons that lies inside the focus colour. Could be a good option for us too.
https://www.atlassian.com/

[2018-04-06 08:04] ksawerysb1 commented on #137
@wkillerud found a solution, creating a PR soon

[2018-04-06 08:07] selbekk commented on #11
@adidick I'm sure we could technically solve it - but how about using our orange color instead? It's easier to spot, and it's according to our design.

Regardless of color, could you attach an image of the effect you're looking to implement?

[2018-04-06 08:23] selbekk commented on #135
Regner med at du fikk svar godt nok @hodoea ? Lukker denne jeg.

[2018-04-06 08:23] #135 closed, assigned to hodoea

[2018-04-06 08:24] selbekk commented on #133
var det noen forskjeller @hodoea? Lukker denne, så kan du opprette et nytt issue om du ønsker endringer i hvordan vi har implementert gridet :)

[2018-04-06 08:24] #133 closed, assigned to nobody

[2018-04-06 08:24] selbekk commented on #128
Fixed by #131

[2018-04-06 08:24] #128 closed, assigned to selbekk

[2018-04-06 08:55] hodoea commented on #133
Ja, sorry glemte å lukke den!

[2018-04-06 08:58] adidick-zz commented on #11
@selbekk Looking into it there seems to be a few different possibilities. How do you usually assign focus styles to elements in code? Is it a set standard you use for everything or specific to each element, e.g. Action button in FFE?
I'm thinking it could be good to define some variants that basically work depending on what the element is and what colour background it's sitting on. For example:
1.

[2018-04-06 09:15] ivarni commented on #11
We can have different focus styles on different components, we don't have to use the same solution everywhere.

[2018-04-06 10:32] adidick-zz commented on #11
@ivarni What about two style variants on one component?
E.g. Action button on white background, Action button on dark background

[2018-04-06 11:08] selbekk commented on #11
That's a bit harder to accomplish in a generic way.

[2018-04-06 11:15] wkillerud opened #143 "ffe-account-selector-react: Document difference between onChange and onAccountSelected"
#### Which package is this issue related to?

`ffe-account-selector-react`

#### Describe your issue

The documentation doesn't describe the difference between onChange and onAccountSelected, and the two are somewhat similar. This can be confusing, so a pointer would be nice :bowing_man:

https://design.sparebank1.no/styleguidist/index.html#accountselector

[2018-04-06 11:53] wkillerud commented on #18
I tried removing the React 15 workaround and tested in IE11. No characters were dropped when I was typing. I think we can safely go back to only using `onChange`. PR incoming.

[2018-04-06 11:58] wkillerud commented on #103
I can write a suggestion for further discussion

[2018-04-06 12:34] antidecaf opened #146 "ffe-header: Logo is awkwardly offset due to space being distributed by flex"
#### Which package is this issue related to?
ffe-header

#### Describe your issue
Logo is rendered at an offset position, as opposed to centered horizontally

#### What is the expected behavior?
The logo should be centered

#### What is the actual behavior?
The logo is rendered at a slightly skewed position which depends on the contents of the secondary nav and the user name button

#### Steps to

[2018-04-06 14:30] #18 closed, assigned to wkillerud

[2018-04-09 06:07] #143 closed, assigned to wkillerud

[2018-04-09 06:30] ivarni opened #149 "Have we deprecated Hawaii layout or not?"
#### Which package is this issue related to?

`ffe-core-react`

#### Describe your issue (screenshots welcome!)

I was under the impression we had deprecated the old Hawaii layout system but I see it's still in the [react core package](https://github.com/SpareBank1/designsystem/tree/develop/packages/ffe-core-react/src/layout). There's a note in the `.md` files telling consumers to "consider" using

[2018-04-09 07:15] selbekk commented on #149
My discussions with @adidick has always indicated that the grid is the way of the future. As a response to that, I deprecated the Hawaii layout system. It's definitely still available, and probably will be for the foreseeable future, because migrating away from it requires a lot of manual work, including possibly redesigning parts of whatever you're migrating.

A good first goal in this deprecatio

[2018-04-09 07:26] ivarni commented on #149
I'd suggest a much clearer message about it being deprecated in the README for the component, a deprecation warning in the core-react component (or maybe just outright removing it from the core-react component and keep the css around?).

Right now, [this](https://github.com/SpareBank1/designsystem/blob/develop/packages/ffe-core-react/src/layout/ContentContainer.md) reads more like a suggestion to

[2018-04-09 08:03] selbekk commented on #149
Definitely agree that we can update the wording of these examples. This, when rendered with react-styleguidist, looks much less appealing since [the components themselves are deprecated](https://github.com/SpareBank1/designsystem/blob/develop/packages/ffe-core-react/src/layout/ContentContainer.js#L5-L7). As far as I can tell though, they're no longer documented in the styleguide, so this deprecati

[2018-04-09 14:22] ksawerysb1 commented on #137
@wkillerud @ivarni @selbekk Created PR: https://github.com/SpareBank1/designsystem/pull/151

[2018-04-10 07:18] wkillerud commented on #103
The first iteration is live on https://design.sparebank1.no/kom-i-gang.html#kom-i-gang_for-utviklere :tada:

[2018-04-10 08:14] #146 closed, assigned to antidecaf

[2018-04-10 10:23] wkillerud opened #153 "ffe-radio-button-react: PropTypes complains about missing onChange on the radio buttons"
#### Which package is this issue related to?

`ffe-radio-button-react`

#### Describe your issue

Sometimes this happens when using `RadioButtonInputGroup`:

[code]

Only the field is not read-only since I have an `onChange` and `selectedValue` on `RadioButtonInputGroup` - the state is handled just fine.

#### What is the expected behavior?

No propType warning

#### What is the actual behavior?

[2018-04-10 10:51] selbekk opened #155 "Feature request: Make ffe-accordion-react controllable"
#### Which package is this issue related to?
ffe-accordion-react

#### Describe your issue (screenshots welcome!)
I would like to close an accordion item from the "outside". Right now, I can only set the initial state with the `isOpen` property - this should probably control the internal state if it's set.

#### What is the expected behavior?
That `isOpen` controls the state if it's set.

#### Wha

[2018-04-10 13:07] #153 closed, assigned to wkillerud

[2018-04-10 13:20] wkillerud commented on #137
Fixed in #151

[2018-04-10 13:20] #137 closed, assigned to ksawerysb1

[2018-04-10 14:43] henrikhermansen opened #158 "Unable to stop onClick event from bubbling from Checkbox"
#### Which package is this issue related to?
ffe-checkbox-react

#### Describe your issue (screenshots welcome!)
Checking the checkbox with Spacebar triggers an "unstoppable" onClick-event.
This does not happen when clicking the checkbox with the mouse pointer.
This is an issue because I have the checkbox inside another clickable area, whose onClick listener is triggered by the Checkbox.

#### Wha

[2018-04-11 09:18] #155 closed, assigned to selbekk

[2018-04-11 09:22] ivarni commented on #149
With the React components out of the way, should we look at possible strategies for getting rid of the LESS component? It would perhaps be great to hear from those who use it how (and if) they think a migration could be done.

[2018-04-11 12:09] ksawerysb1 commented on #132
Add a columns.render function as an alternative to defining custom component fields in the data object rows.

[2018-04-11 12:39] #24 closed, assigned to wkillerud

[2018-04-11 12:41] wkillerud commented on #24
A breaking change was needed for `ffe-icons` and `ffe-icons-react` got a new major version as well. There were no changes in the API for the latter, only a new major due to the risk of visual regressions. But no more PhantomJS :tada:

[2018-04-11 13:06] wkillerud commented on #132
The SortableTable component is perhaps beyond saving :P Perhaps we can use render functions to move more control from configs to the render function?

For `Table` I think we can go back to basics:

[code]

[code]

[2018-04-11 13:20] wkillerud commented on #132
With the API from the previous comment making a SortableTable could be a matter of adding a few props to `TableHeader` and defer sorting to the consumer.

[code]

[2018-04-12 06:29] wkillerud opened #163 "aXe accessibility audit issues"
I've used the new [aXe Developer Tools](https://addons.mozilla.org/en-US/firefox/addon/axe-devtools/) to run a quick audit on the [design system](https://design.sparebank1.no/), and it raises some issues. Rather than create separate issues I'll track them all in here as a task list.

### Landing page

https://design.sparebank1.no/

- [x]  Add the `lang` attribute on the `<html>` tag. This lets scr

[2018-04-12 06:51] selbekk commented on #132
Pretty impressive! We would probably have to add some trickery to support expandable rows as well, but that should be doable.

[2018-04-12 07:08] wkillerud commented on #163
I'll be working on this starting from the top. Drop a comment if you want to pitch in!

[2018-04-12 07:13] wkillerud commented on #103
I posted the updated docs in our internal channels and got a :+1: I think we're good for the 1.0 milestone. I'll close this issue for now - if new users run into trouble we'll improve the docs as we go.

[2018-04-12 07:13] #103 closed, assigned to wkillerud

[2018-04-12 12:57] wkillerud commented on #80
Vet det er endringer i loopen for disse fargene og presentasjonen av dem. Kan bare skyte inn at dagens presentasjon med tekst oppå fargene feiler på WCAG kontrastsjekk for flere av dem. Testet med [dette verktøyet](https://www.deque.com/axe/). Om det nye designet også har tekst oppå fargene er det sikkert greit å ta høyde for :)

[2018-04-13 08:17] ksawerysb1 commented on #132
I'm currently creating a table with custom react components that has to be placed in the data object and that requires a lot of hassle to make sorting work properly, so maybe we could start with separating the rendering and data used to sort. Maybe a datatype object for the column would be a nice addition? We could package all those functions in an object and give columns a single field to specify

[2018-04-13 08:39] antidecaf commented on #80
Skissene for den nye oversikten har også tekst oppå fargene. Dette er hvor Wave rapporterer om problemer:

![image](https://user-images.githubusercontent.com/463847/38724976-198ee0b6-3f06-11e8-8080-307d6ae2bedb.png)
![image](https://user-images.githubusercontent.com/463847/38724983-1e61ec5a-3f06-11e8-91ac-8b804a7ed493.png)
![image](https://user-images.githubusercontent.com/463847/38724989-21778030

[2018-04-13 10:50] wkillerud opened #166 "HTML-eksempler i Komponenter"
Vi har en del React-komponenter, men ikke alle brukere har/kan bruke React. Et eksempel var for et internt system der et par folk gjerne skulle brukt InfoMessageBox, men ikke hadde noen pipeline for å bygge JavaScript. De trengte bistand for å få HTML-versjonen av det de ville bruke. Det hadde vært fint å få en fane for et rent HTML-eksempel som er copy/paste i stedet for å tvinge folk til å komme

[2018-04-13 11:02] wkillerud opened #167 "Ferdig bygget CSS sjekket inn på GitHub for nedlasting?"
Ikke alle brukere av designsystemet har/kan bruke Less. Et eksempel var for et internt system der et par folk gjerne skulle brukt InfoMessageBox, men ikke hadde noen pipeline for å bygge CSS fra Less. De trengte bistand fra en utvikler for å få satt opp et minimumsprosjekt med Less, `ffe-core`, og `ffe-message-box`.

Kunne vi tilbudt ferdig bygget CSS for disse slags bruk, for eksempel sjekket inn

[2018-04-13 11:16] ivarni commented on #167
Jeg føler da at vi kanskje optimaliserer for et veldig lite mindretall? Hvor stort tror vi dette problemet er?

[2018-04-13 11:28] antidecaf commented on #166
Vi ser på dokumentasjon av styling og markup med KSS - se #160.

[2018-04-13 11:29] wkillerud commented on #167
Jeg ser det ikke som noen optimalisering for dem. Det går jo ikke på bekostning av noe annet enn tid å sette opp?

Det blir en ekstratjeneste som vi kan sette opp én gang som Travis kan ta seg av etter det, ala bygging av designsystemet til gh-pages.

Når det er sagt har jeg jo ikke noe tall på hvor mange dette gjelder. Første gang jeg er blitt involvert i det, men @gbrownlee og @adidick vet kansk

[2018-04-13 11:44] ivarni commented on #167
Fair enough, optimalisering var kanskje ikke et godt ord. Så lenge det er etterspørsel og ikke så mye jobb å vedlikeholde så er det vel ikke i veien for noen.

[2018-04-13 13:09] wkillerud opened #170 "Tittel på sidene på design.sparebank1.no"
I dag er tittelen på sidene (`<title>` som dukker opp på fanen, bokmerker, og historikk) FFE. Det er litt misvisende og intetsigende for førstegangsbesøkende. Vi bør oppdatere tittelen til noe sånt som `SpareBank 1 Designsystem`, gjerne med sidens tittel også på mønsteret `Sidetittel - SpareBank 1 Designsystem` f.eks. `Kom i gang - SpareBank 1 Designsystem`.

[2018-04-13 15:04] wkillerud opened #171 "Uheldig breakpoint for menyen på iPad"
![305e4ad0-03a7-4a20-be7c-b4f2f7d87680](https://user-images.githubusercontent.com/1223410/38742301-74adee98-3f3c-11e8-905a-e7515366d5f5.png)

På iPad i portretmodus overlapper logoen deler av menyen

[2018-04-13 15:09] wkillerud opened #172 "Animasjoner fungerer ikke på iOS"
iOS 11.3

På [Visuell identitet](https://design.sparebank1.no/visuell-identitet.html) fungerer ikke animasjonene bak «play»-knappene, for eksempel under Hvordan animerte vi funksjonelle animasjoner.

[2018-04-13 15:11] wkillerud commented on #171
En annen litt uheldig sak, denne gangen i landskapsmodus med Universell utforming i menyen til venstre (teksten flyter på utsiden av sidebaren)

![5ee2d7a0-7f7c-4fc1-aa44-55b29f24d723](https://user-images.githubusercontent.com/1223410/38742713-95d108c0-3f3d-11e8-8c1c-f6ad172c1da4.png)

[2018-04-16 07:52] antidecaf commented on #171
iPad? Bra catch. Mulig løsning er å brekke til mobil-layout på en høyere oppløsning.

[2018-04-16 08:22] gbrownlee commented on #167
Enig i at det neppe er så mange som vil ha dette behovet. Samtidig ønsker vi nok heller ikke å oppmuntre til å bruke systemet på denne måten. Når det er sagt, så er det selvsagt bedre at det brukes uten et forhold til underliggende funksjonalitet enn at det ikke brukes i det hele tatt. Med andre ord: Jeg støtter forslaget med en vedlagt advarsel at den må hostes selv og at man mister veldig mange

[2018-04-16 08:39] wkillerud opened #173 "`ffe-button-group` no longer aligns with content in `ffe-content-container`"
#### Which package is this issue related to?

`ffe-buttons`

#### Describe your issue

`ffe-button-group` no longer centers in `ffe-content-container` after the transition to `display: flex;` (introduced in version `7.0.2`). Before the change `ffe-button-group` had `display: inline-block;` and would be centered in the default `ffe-content-container`. Now it is left-aligned, and there is no way of

[2018-04-16 08:42] wkillerud commented on #173
So, is this a `wontfix` given the discussions in #149 and #150?

A workaround is to use `ffe-grid` for the layout around the button group, or to not use `ffe-button-group` at all.

[2018-04-16 10:56] antidecaf commented on #171
Linker i sidebaren er en nøtt på visse skjermstørrelser. Ikke bare headinger, men også "normale" lenker, spesielt når ordene blir lengre enn bredden på sidebaren. Her er tre varianter som alle har sine drawbacks:

`word-break: normal` (slik ser det ut i dag):

![image](https://user-images.githubusercontent.com/463847/38805064-cd5b1be4-4174-11e8-8893-a2d4f9288968.png)

`text-overflow: ellipsis`:

!

[2018-04-16 11:35] wkillerud commented on #171
`break-word` funker i hvertfall ikke :no_good_man: Jeg stemmer for `ellipsis`. Øker vi antall kolonner blir den fort for bred på større skjermer også.

[2018-04-16 13:21] wkillerud opened #176 "RFC: consistent i18n across FFE"
We have a few different approaches to internationalization across the various components in FFE, depending on who wrote the first implementation way back when :older_man: As a developer it would be nice to have a consistent API across components so it's predictable what will be needed and what the different parts are called.

Examples:

* [Datepicker](https://github.com/SpareBank1/designsystem/blo

[2018-04-16 13:35] #171 closed, assigned to antidecaf

[2018-04-17 07:43] wkillerud commented on #173
Might just be a matter of setting `display: inline-flex;` instead of `display: flex;` on `ffe-button-group` (I initially misread where it was set). It looks OK in an app that uses the old Hawaii layout, and looks OK in the styleguide. I'll open a PR.

[2018-04-17 07:57] wkillerud opened #178 "Tertiary button text and border not aligned properly in the button group"
#### Which package is this issue related to?

`ffe-buttons`

#### Describe your issue

From [design.sparebank1.no](https://design.sparebank1.no/styleguidist/index.html#buttongroup):

![screen shot 2018-04-17 at 09 57 13](https://user-images.githubusercontent.com/1223410/38856088-c089406a-4225-11e8-9121-36c8f6b8c5df.png)

Tested in both Firefox and Chrome.

#### What is the expected behavior?

The

[2018-04-17 08:03] wkillerud commented on #178
Only applies to `a` elements apparently. I'll extend the button group with examples with the two main element types (`button` and `a`), this isn't the first time we've discovered element specific visual bugs in the button group :crying_cat_face:

[2018-04-17 09:29] #173 closed, assigned to nobody

[2018-04-17 11:00] #172 closed, assigned to nobody

[2018-04-17 11:07] wkillerud opened #180 "ffe-accordion animerer pila over Z-aksen"
Under [animasjoner](https://design.sparebank1.no/visuell-identitet.html#visuell-identitet_animasjoner) beskriver vi at vi animerer "bevegelse i X- og Y-aksen - ikke Z (3D)".

Vi bryter med det prinsippet i [ffe-accordion](https://design.sparebank1.no/styleguidist/index.html#accordion-1) :male_detective:  Vi bør endre animasjonen så den følger guidelines som er definert under _Visuell identitet_.

[2018-04-17 12:20] wkillerud opened #181 "ffe-radio-button: Radio switch redesign"
#### Which package is this issue related to?

`ffe-radio-button`

#### Describe your issue

The current radio switch implementation does not accurately reflect the one in Sketch.

In particular:

* The FFE version is too wide
* The distance between text and radio marker is too large
* The active state colors are different

**Sketch**

![image](https://user-images.githubusercontent.com/1223410/3886

[2018-04-17 12:31] wkillerud commented on #181
## Some details from Zeplin

### Unselected state

**Switch**

The rounded border/container for the radio button and label.

[code]

**Radio button**

[code]

**Switch label**

[code]

### Selected state

**Switch**

[code]

**Radio button**

[code]

**Switch label**

[code]

[2018-04-17 12:42] wkillerud commented on #33
I'm not sure we reached an actionable conclusion here. A suggestion was raised to declare what are now `peerDependencies` as actual `dependencies`, with or without the `-react` package acting as an intermediary (exporting all the Less it needs).

To me it sounds like we'd be introducing more complexity to a system that sort of works as it is. Although `peerDependencies` can get out of sync we can

[2018-04-17 12:42] #33 closed, assigned to nobody

[2018-04-17 12:43] wkillerud commented on #107
Fixed in #113

[2018-04-17 12:43] #107 closed, assigned to torbein

[2018-04-18 06:49] wkillerud commented on #114
@torbein, are you still working on this or can I take a look? :)

[2018-04-18 12:23] ksawerysb1 commented on #132
@selbekk we have a request from designers to implement a clickable row + row:hover highlight, not just to show more data but to navigate to URL/do an onClick action. I thought that the fastest way forward would be to just expose TableRow onClick to the outer Table component, should I just start implementing that?

[2018-04-18 13:55] wkillerud commented on #15
Found a fix: add width and height attributes to the background image SVG. Included fix in #184.

[2018-04-18 14:09] wkillerud commented on #16
Testet lokalt med nok kontoer i listen til at den scroller. Scroller ned i listen og velger en konto. Listen scroller ikke som beskrivelsen påstår.

Testet med IE11. Eksemplene i komponentoversikten fungerer ikke i IE10 (beskrevet i #184) så får ikke testet der. Tenker uansett vi kan lukke denne, så får den som rapporterte opprinnelig komme med flere detaljer.

[2018-04-18 14:09] #16 closed, assigned to nobody

[2018-04-18 14:52] henrikhermansen commented on #132
@ksawerysb1 while such a solution wouldn't solve this issue, it would surely be an improvement. At least it would help you with your current challenge. Go for it!

[2018-04-18 16:07] henrikhermansen opened #185 "Two button groups aligns on the same line"
#### Which package is this issue related to?
ffe-buttons

#### Describe your issue (screenshots welcome!)
Given this HTML...
[code]
...this is rendered.
![image](https://user-images.githubusercontent.com/435037/38943702-592fc408-4332-11e8-8c7e-2608e7fd244d.png)

#### What is the expected behavior?
I expect the button group to be a block-level element, and thus the two should not be aligned.

I rep

[2018-04-18 17:27] #178 closed, assigned to wkillerud

[2018-04-19 06:34] wkillerud commented on #185
I find it odd to have sibling button groups. What is the use case?

The button group is mainly designed to handle the layout of the buttons inside it, not the outside world. That being said it used to be block level, so I suppose this is a regression.

[2018-04-19 07:15] henrikhermansen commented on #185
The use case is simply to place one button above the other, while getting the margins supplied by button group.

It seems wrapping each button group in a `<div>` solves the issue. So if we intend for two button groups to align, that's an acceptable solution for us.

[2018-04-19 07:20] torbein commented on #114
@wkillerud sorry. No I am not working on this issue. Forgot to remove my self as assignee. You are welcome to have a look at the issue. Should be pretty pretty straightforward to fix as mentioned above :)

[2018-04-19 08:06] ivarni commented on #185
Wasn't the whole point of the button group to ensure the buttons **aren't** aligned vertically on bigger screens?

[2018-04-19 08:32] selbekk commented on #132
We need to expose a table-row renderer and a table-cell renderer imo. That would alleviate a lot of these issues, even in the short run.

The fact is that this component is starting to get too many features, because they're used in too many different ways. That leads to a shit API with too many options, and a terrible DX. I'll see if I can POC up something similar to @wkillerud 's original proposa

[2018-04-19 08:46] selbekk opened #186 "Spinner is shaking in IE11"
#### Which package is this issue related to?
ffe-spinner

#### Describe your issue (screenshots welcome!)
The spinner (both small and large) shakes very slightly in IE11. Tried to make a gif of it:

![brrrrrrrr](https://user-images.githubusercontent.com/1307267/38980912-5f8d1148-43be-11e8-97e9-a6c488e97784.gif)

#### What is the expected behavior?
Not to get epilepsy

#### What is the actual behav

[2018-04-19 08:51] ivarni commented on #186
It's been like this for as long as I can remember.

[2018-04-19 10:15] ivarni opened #188 "ffe-dropdown: Native expander visible under chevron"
#### Which package is this issue related to?

ffe-dropdown

#### Describe your issue (screenshots welcome!)

![image](https://user-images.githubusercontent.com/379849/38985962-3efcd8f2-43cb-11e8-9764-3d95667c19b9.png)

The native select expander is visible in [the designguide example](https://design.sparebank1.no/styleguidist/index.html#dropdown)

#### What is the expected behavior?

The native se

[2018-04-19 10:24] wkillerud commented on #188
Will be fixed in 2ff3ddc #184

[2018-04-19 10:26] ivarni commented on #188
Ah ok, it was difficult to guess that this would be a duplicate of that from just looking at the issue title :)

[2018-04-19 10:26] #188 closed, assigned to nobody

[2018-04-19 10:33] wkillerud commented on #188
Yeah, it was more that I discovered the same issue while working on something else :sweat_smile:

[2018-04-19 10:51] wkillerud opened #189 "ffe-datepicker-react: Setting an ID is unintuitive"
#### Which package is this issue related to?

`ffe-datepicker-react`

#### Describe your issue

`Datepicker` lets us provide a `label` prop to get a nice form label related to the input. What isn't immediately obvious is that `label` needs `inputProps.id` in order to work. So this will fail a11y validation:

[code]

And this is required to pass:

[code]

#### What is the expected behavior?

I'd li

[2018-04-19 11:57] ksawerysb1 opened #190 "ffe-datepicker-react: clicking on the change month causes a focus issue"
#### Which package is this issue related to?
ffe-datepicker-react
#### Describe your issue (screenshots welcome!)
Clicking on one of the change month casues the datepicker to close on next click within datepicker.
#### What is the expected behavior?
The datepicker should be able to change month multiple times with click input.
#### What is the actual behavior?
The datepicker changes month just onc

[2018-04-19 12:04] #114 closed, assigned to henrikhermansen

[2018-04-19 13:48] henrikhermansen opened #191 "Tertiary button loses underline on small screen size"
#### Which package is this issue related to?
ffe-buttons

#### Describe your issue (screenshots welcome!)
When screen width is below `@breakpoint-sm` the tertiary button loses its underline.

Below `@breakpoint-sm`:
![image](https://user-images.githubusercontent.com/435037/38995303-e4fa0622-43e8-11e8-8f04-b92399160b1d.png)

Above `@breakpoint-sm`
![image](https://user-images.githubusercontent.com/

[2018-04-19 14:03] henrikhermansen commented on #191
The problem also applies to tertiary buttons who's not surrounded by the warmth of a `ffe-button-group`, regardless of screen size.
![image](https://user-images.githubusercontent.com/435037/38996326-44f4b6ce-43eb-11e8-9019-89d533460f00.png)

[2018-04-19 14:24] TorgeirHeim opened #192 "Expand and collapse account-selector on arrow button click"
![account-selector](https://user-images.githubusercontent.com/1838311/38997074-e3e47962-43ec-11e8-8e4f-b7c316eba7f6.png)

The account selector does not collapse when the arrow icon is pressed. This is especially annoying in browser where clicking outside an input field doesn't cause the field to loose focus (e.g Safari iOS). The only way to collapse the account-selector is to select an account (or

[2018-04-19 15:05] #191 closed, assigned to henrikhermansen

[2018-04-19 15:13] wkillerud commented on #192
Huh, yeah that gets pretty annoying. Probably just forgotten during development - it makes sense that it's a toggle. I say go for it 👍

Not to be a scope creeper 👹, but I see `SearchableDropdown` has the same issue. If you end up working on this issue, would you mind fixing it there as well? 👼

[2018-04-19 15:20] wkillerud commented on #185
We need the button groups to be `inline-flex` on large screens due to #173 (the group takes 100 % width on small screens, so there `flex` is fine). Since wrapping the groups in a `div` is an acceptable workaround I think we can close this issue. Feel free to disagree if there's something I've missed 😉

[2018-04-19 15:20] #185 closed, assigned to nobody

[2018-04-20 12:30] selbekk opened #197 "Add support for bleeding grid column backgrounds"
#### Which package is this issue related to?
ffe-grid / ffe-grid-react

#### Describe your issue (screenshots welcome!)
Our designs specify a column with a background color - where the background color "bleeds" out into both gutters. This is currently not possible from userland without adding some pretty hefty hacks.

#### What is the requested behavior?
To be able to specify background colors for

[2018-04-20 13:53] wkillerud commented on #197
Do you have any screenshots describing the issue? I'm having trouble picturing it :see_no_evil:

[2018-04-20 14:57] ksawerysb1 commented on #132
Working on implementing column.cellRender and rowRender(props, rowcontent, trprops), headerRender, footerRender.
Should be possible to just add:
`rowRender={(props, rowcontent, trprops)=>{return <tr {...trprops}>{rowcontent}</tr>}} `
to have the base for a default row like today that can be modified.

[2018-04-23 06:51] wkillerud commented on #190
Seems it may have been introduced in v 3.0.8. 3.0.7 doesn't have this issue.

[2018-04-23 08:20] ivarni opened #199 "ShortcutButton no longer supports loading state"
#### Which package is this issue related to?

`ffe-buttons`/`ffe-buttons-react`

#### Describe your issue (screenshots welcome!)

The support for a loading state seems to have been removed from `ShortcutButton` although this does not seem to be mentioned in the changelog. As a result, we're now stuck with a button that just becomes a white box when we try to set the loading state.

#### What is th

[2018-04-23 08:58] ksawerysb1 commented on #190
I created a PR on Friday with a fix. Should be out soon.

[2018-04-23 09:31] #199 closed, assigned to nobody

[2018-04-23 12:37] ivarni commented on #199
So was the removal of this intentional or not? Does it need to get re-removed in a new breaking major?

[2018-04-23 12:39] wkillerud commented on #199
Cc @selbekk

[2018-04-23 14:21] henrikhermansen opened #201 "No spacing between tabs in a tab group"
#### Which package is this issue related to?
ffe-tabs

#### Describe your issue (screenshots welcome!)
In our code we've grouped our tab buttons inside a `ffe-button-group`. Before the rewrite of ffe-buttons the button group added 10px left margin on all `ffe-tab-button` (except the first). After the rewrite of ffe-buttons there's no mention of tab buttons anymore.

This could all be fine, because

[2018-04-24 07:11] selbekk commented on #199
It was indeed intentional - shortcut buttons (per the old design documentation) were meant for links IIRC - and links typically don't have spinners. If you want that behavior, you can use a secondary button, which doesn't have an animated icon that "pulls" you into the next page by jumping to the right on hover.

It may have been an oversight on my part though - perhaps @adidick can give us the fi

[2018-04-24 07:15] selbekk commented on #201
Agree, this is a regression from my rewrite of ffe-buttons. My bad!

[2018-04-24 07:21] ivarni opened #202 "Could `RadioSwitch` accept boolean values?"
#### Which package is this issue related to?

ffe-radio-button-react

#### Describe your issue (screenshots welcome!)

I'm using `RadioSwitch` for a property that can either "on" or "off" and in my state I prefer working with boolean data types for these kind of things

[code]
Is something that *can* happen.

Unfortunately [RadioSwitch](https://github.com/SpareBank1/designsystem/blob/develop/packa

[2018-04-24 10:14] #201 closed, assigned to henrikhermansen

[2018-04-24 11:26] nicolhag opened #205 "Centered GridCols expands beyond their offset in IE"
#### Which package is this issue related to?
`ffe-grid-react` and `ffe-grid`
#### Describe your issue (screenshots welcome!)
When a `GridCol` with `div` as content is centered by passing `center={true}`, the specified offset is not taken into account in IE - the content flows beyond the offsets.
#### What is the expected behavior?
When centering a `GridCol` in IE, I would expect the content to sti

[2018-04-24 12:28] adidick-zz commented on #199
@selbekk is correct here in that "Shortcut button" does not have a loading state. It is in fact a link that takes you directly to another page, hence no loading state. In the example image above it looks like an action button could be better suited (depending on the intended function of the button and text used in the button). For example, if it takes you straight to a process page where you can s

[2018-04-24 12:29] adidick-zz commented on #199
Where is the screengrab from @ivarni ?

[2018-04-24 12:31] ivarni commented on #199
@adidick Spinn in kfp-skade.

I can make a breaking change to remove it again but then Someone™️ is going to have to decide how to deal with that the next time kfp-skade gets its version updated.

[2018-04-24 19:13] selbekk commented on #202
Sounds like a good idea :) Go for it!

[2018-04-24 21:03] selbekk commented on #197
Sorry for the delay - here's one from the documentation:

![image](https://user-images.githubusercontent.com/1307267/39214099-a4b4a066-4813-11e8-9694-2b539cef974e.png)

In addition, there should be some screenshots of the actual design we're implementing, but I don't have access to those until tomorrow morning. I'll make sure to post them asap.

[2018-04-24 21:07] selbekk commented on #186
Looks like it's a good ol' IE bug. A quick google search suggested trying to change the transform slightly, to "trick" IE into doing the right thing. ([example](https://stackoverflow.com/questions/42558183/ie-10-11-edge-shaky-on-hover-animation))

[2018-04-24 21:12] selbekk commented on #167
Det er fint å ha for å POCe opp ting på codesandbox, som ikke støtter LESS.

[2018-04-25 06:48] wkillerud commented on #205
I think this is a [browser issue that you need to work around yourself](https://github.com/philipwalton/flexbugs#flexbug-2) by setting a max-width on the content `div`.

Workaround

[2018-04-25 09:20] #15 closed, assigned to wkillerud

[2018-04-25 09:21] wkillerud commented on #15
Fixed in `@sb1/ffe-form@9.1.1`

[2018-04-25 09:42] #197 closed, assigned to selbekk

[2018-04-26 07:22] henrikhermansen opened #208 "Different left padding of input field and dropdown"
#### Which package is this issue related to?
ffe-form

#### Describe your issue (screenshots welcome!)
`.ffe-input-field` has a left padding of 13px while `.ffe-dropdown` has a left padding of 10px.

#### What is the expected behavior?
I expect input fields and dropdowns to have the same left paddings for proper form alignment.

#### What is the actual behavior?
Input fields and dropdowns have dif

[2018-04-26 08:29] hodoea commented on #208
I don´t see it @henrikhermansen ...What exactly do you mean by left-padding?
<img width="1166" alt="skjermbilde 2018-04-26 kl 10 28 26" src="https://user-images.githubusercontent.com/8971560/39294696-a7368a82-493c-11e8-81a9-f71ddcc96331.png">

[2018-04-26 11:04] #192 closed, assigned to TorgeirHeim

[2018-04-26 11:41] Heilysto commented on #80
Forslag til ny inndeling av farger og fjerning av røkla.
https://sparebank1.invisionapp.com/d/main#/console/12247316/257694951/preview

**Det er kommet inn forespørsel om vi skal operere med to fargenavn.**
1. På venstre side er fargene beskrevet som i profilhåndboken (https://merkevare.sparebank1.no/portal/doc?query=%7B%22rootIds%22%3A%5B5167%5D%2C%22limit%22%3A1%2C%22nodeIds%22%3A%5B%225179%22%5

[2018-04-26 12:37] wkillerud commented on #80
Ikke noe problem å endre navnet på venstre siden til de som brukes i profilhåndboken, det er en kjapp endring :+1:

Vi burde nok da også endre navnet på fargene i koden der de ikke gir mening lenger, f.eks. Hovedblå og disse WCAG-variantene. Så er det lettere å oversette design til kode. Det blir dog en _breaking change_ - kanskje spare den endringen til vi har flere breaking changes i `@sb1/ffe-c

[2018-04-27 07:03] henrikhermansen commented on #208
I'm sorry, @hodoea , I should've supplied a screenshot to clearify.

Padding is the distance between the border and the text inside the field.

In this image "Velg fond" is a searchable dropdown (which uses `.ffe-dropdown`) with 10px between border and text, while "Beløp" is a normal input (with `.ffe-input-field`) with 13px between border and text.
![image](https://user-images.githubusercontent.c

[2018-04-27 08:37] #170 closed, assigned to nobody

[2018-04-27 09:02] antidecaf commented on #80
Det blir helt klart en breaking change. Og jeg synes kanskje vi bør ta en aldri så liten debatt om hvilket mønster vi vil bruke på variabel-navnene før vi endrer på de. Det er ikke så veldig lenge siden vi hadde en overhaling av fargenavnene i FFE, nettopp fordi navn som `ffe-x-WCAG`, `ffe-x-50` (forskjellige tints angitt i prosent) og lignende abstrakte ting var vanskelig å ha et bevisst forhold

[2018-04-27 09:38] wkillerud commented on #208
_How_ did you notice this? :male_detective: :smile: Agree that this should be consistent.

[2018-04-27 11:25] henrikhermansen commented on #208
Haha, good question @wkillerud  :smiley:
[The removal of `.ffe-dropdown`](https://github.com/SpareBank1/designsystem/pull/194/files#diff-365f7a8e56da589a3a56475dceb71a4bL75) from `ffe-account-selector-react` caused a visual regression in our gemini tests.

[2018-04-27 11:33] wkillerud commented on #202
Fixed in #210

[2018-04-27 11:33] #202 closed, assigned to ivarni

[2018-04-27 13:19] selbekk opened #211 "Make the status label of cards dynamic width"
#### Which package is this issue related to?
ffe-cards

#### Describe your issue (screenshots welcome!)

Currently:

![image](https://user-images.githubusercontent.com/1307267/39364400-2606f530-4a2e-11e8-9187-acdc96c68db6.png)

This is too wide and looks weird.

#### What is the expected behavior?

Make the background color of the status text centered like now, but only 10 pixels wider than the te

[2018-04-27 14:11] wkillerud commented on #211
Personally I like it better than the dynamic width alternative :man_shrugging:

[2018-04-30 05:17] ivarni commented on #211
I'm with @wkillerud on that. I think this is going to look even wierderer when there are several different stati in the same list of cards and they all get different width backgrounds.

[2018-04-30 06:35] selbekk commented on #211
The devs are rising up against us @adidick ! Whatcha think - should we consider keeping it as is?

[2018-04-30 08:19] henrikhermansen opened #213 "ffe-buttons-react: missing inline modifier on ButtonGroup"
#### Which package is this issue related to?
ffe-buttons-react

#### Describe your issue (screenshots welcome!)
The `ButtonGroup` component doesn't have a prop for the `--inline`-modifier.

[2018-04-30 08:43] #213 closed, assigned to henrikhermansen

[2018-04-30 10:25] dagtj opened #216 "Regler for skjema, validering, formattering og feilmeldinger"
I team PM Betaling har vi utarbeidet noen regler for innhold og koding av skjema. Disse bygger på tidligere dokumentasjon vi har funnet på Sparebank1, ELMER3, UU-krav og diskusjoner i teamet og "best pratice" vi har kommet over.

Reglene er beskrevet på en side som er bygget i Axure - de fleste med eksempler:

https://59n7ky.axshare.com/validering_av_skjema.html

Vi trenger bistand til å identifis

[2018-04-30 10:49] ivarni commented on #216
Hm, flere av de kravene strider mot ting vi har fått beskjed om å gjøre i våre applikasjoner, så kanskje det burde en runde gjennom design og ux rådet først for forankring der?

[2018-04-30 10:50] ivarni commented on #216
Ellers en veldig fin ting som jeg tror hadde vært bra å få inn i designguiden på en eller annen måte 👍

EDIT: Sorry, feil knapp der. Litt usikker på hvorfor jeg har lov til å close issues i utgangspunktet men det var ikke meningen å trykke på den knappen.

[2018-04-30 10:52] dagtj commented on #216
Det har vært gjennom IxD-forum, ja. Og ytterligere revidert deretter. Nå er det sjelden det blir 100% enighet der, men dette er det beste vi klarer å komme fram til nå. Og fortsetter gjerne diskusjonen videre her. Kanskje vi skal holde igjen på de mest omdiskuterte forslagene. Kan du være konkret, @ivarni?

[2018-04-30 11:07] ivarni commented on #216
Helt greit for meg at det kommer krav som er annerledes enn de vi har fra før, jeg vil bare sikre at det er enighet om det på tvers før vi eventuelt bruker tid på å endre store deler av skjema-koden vår :)

Her antar jeg at ikke-obligatoriske elementer skal merkes "(valgfri)" men denne var helt ny for oss.

Her ble det tidligere bestemt at vi ikke skulle starte med "live" validering før brukeren h

[2018-04-30 12:23] dagtj commented on #216
Takk for at du får i gang en god diskusjon! Jeg velger å kommentere dine kommentarer enkeltvis. Den første om "valgfri" var en ren skrivefeil, har rettet det nå. Dette punktet tok jeg faktisk med da det ble kommentert av flere andre designere at slik var praksis. Men det er nok ulik praksis rundt omkring på huset! Det er uansett en god regel i alle skjema at brukeren skjønner hvilke felter som MÅ

[2018-04-30 12:25] ivarni commented on #216
Vi løser det med å vise valideringsfeil dersom kunden utelater et påkrevd felt :)

[2018-04-30 12:30] dagtj commented on #216
Ang. "live" validering: Det vil nok være en skjønnsmessig vurdering, og valgfritt i hvert enkelt tilfelle om det er best med umiddelbar validering eller etter submit. Vi har situasjoner med avhengigheter hvor Kontonummer f.eks. avgjør om du skal fylle ut KID eller melding, da må vi validere Kontonummer straks. Når du sier "tidligere bestemt" - er det formulert noe sted? Høres radikalt ut andre vei

[2018-04-30 12:33] ivarni commented on #216
Det ligger sikkert i en Jira-sak et sted men da skal vi tilbake i tid til før FFE i det hele tatt fantes og det vet jeg ikke om jeg orker å grave fram. Vi har i hvert fall jobbet med den forutsetningen i litt over 3 år nå.

[2018-04-30 12:33] dagtj commented on #216
Vel, da jeg er direkte uenig med deg at det ikke er innlysende hva som er påkrevd eller ikke, før du begynner å fylle ut skjema, før du trykker Submit og oppdager hva som var påkrevd. Viser også til ELMER3 pkt. 3.6.

[2018-04-30 12:35] ivarni commented on #216
Det er ikke min mening jeg sitter og ytrer her, det er de føringene vi har fått fra UX/Design i teamet vårt tidligere. Det er derfor jeg opprinnelig spurte om dette var forankret hele veien opp for da er det merkelig at det er såpass stor forskjell på føringer som er gitt nedover :)

Personlig syns jeg det er greit å få beskjed så tidlig som mulig når jeg gjør noe feil.

[2018-04-30 12:42] dagtj commented on #216
"tidligere vist feilmeldingen helt til feltet har en gyldig verdi": Vi legger til grunn at validering ikke skal meldes til bruker under utfylling, men tidligst ved å forlate et felt eller på submit. Dersom jeg begynner å rette et felt kan vi altså ikke vite om det har blitt riktig eller ei. Så her blir det en avveining mellom å minne brukeren om at "her var det feil" på den ene siden, og "nå ble d

[2018-04-30 12:50] dagtj commented on #216
Ang. forholdet mellom oppsummerende feilmelding med linkeliste til feilene, og kontekstmeldinger som forsvinner når du begynner å rette på dem: Det henger delvis sammen med prinsippet jeg nettopp kommenterte, at det er skånsomt for brukerne å fjerne allerede utdatert feilmelding når de er i gang med å rette et felt. Vi har sett eksempel på at feilmeldingen i toppen oppdateres fortløpende ettersom

[2018-04-30 12:53] dagtj commented on #216
Vi har ikke tatt med noe om inline-input, da vi så langt ikke har slikt på nettbank betaling. Men enig i ditt eksempel fra Forsikring, her er det mest fornuftig at at ALLE felt er midtstilt, da det skal flyte best mulig med tekst eller innhold for og bak.

[2018-04-30 13:29] adidick-zz commented on #211
Interesting. What I think is weird is that we have a big half-empty block of beige that takes up space and reduces the effect of the other details in the card that are arguably more important. I think this is something I should probably take back to the drawing board (as the existing solution was a quick and dirty one from way back) and take a look at it from a broader perspective. There are plent

[2018-04-30 13:31] adidick-zz commented on #211
Also, do you guys have a list of all of the possible status alternative that exist currently that I can use to test out some new ideas?

[2018-04-30 13:37] wkillerud commented on #211
Some other cases that I can remember:

* Start date for insurances if in the future (for instance "GJELDER FRA 01.07.2018")
* The text "MIDLERTIDIG" if there is a pending health declaration
* The text "FORNYES" if the insurance is in renewal

[2018-05-02 07:30] henrikhermansen opened #219 "Buttons in an inline button group doesn't align text correctly"
#### Which package is this issue related to?
ffe-buttons

#### Describe your issue (screenshots welcome!)
When wrapping buttons in an inline button group styled anchor tags doesn't get vertically aligned text.
The problem is only visible if some other button in the button group has text which is wrapped to two lines.
![image](https://user-images.githubusercontent.com/435037/39510637-a74273e4-4dea-

[2018-05-02 07:42] ivarni commented on #149
Suggestion:

Pull the hawaii CSS rules out of `ffe-core` and create a new package for them (`ffe-layout` or whatever). Make it very clear in the description that this is deprecated and refer to the grid package.

That way we can move forwards with it not being a part of core while still allowing legacy codebases where rewriting would be very expensive to keep up to date with new major versions.

[2018-05-02 08:13] ivarni commented on #17
Any status on this? I feel like at least a [few](https://github.com/SpareBank1/designsystem/issues/173) [recently](https://github.com/SpareBank1/designsystem/issues/188) [closed](https://github.com/SpareBank1/designsystem/issues/191) issues might have been caught earlier if we had them running?

I thought our visual tests was already running in docker containers and that it would be easy to move t

[2018-05-02 08:28] antidecaf commented on #17
Unfortunately we no longer have the example implementations used for visual tests (and thus no documentation of styling either). We've been experimenting with kss for this purpose (see #166/#160). You can see the output of this in `/dist/markup` after running `npm run kss:build`. There's a bit of an ongoing struggle to figure out how to include the kss output in the styleguidist styleguide, but fo

[2018-05-02 08:38] ivarni commented on #17
I see. I thought it was just a matter of taking the old [specs](https://stash.intern.sparebank1.no/projects/FFE/repos/ffe-buttons/browse/visual-tests?at=refs%2Ftags%2F5.0.0) and figuring out how to run the [gemini helper](https://stash.intern.sparebank1.no/projects/FFE/repos/ffe-visual-tests-support/browse) on Travis but if there's source code we no longer have access to then that's a bit unfortun

[2018-05-03 06:20] hdaljord commented on #216
Retningslinjene på formatering av inputfelt tar lite hensyn til om det er flere ulike typer felt i samme skjema. Jeg kan se for meg at skjemaene blir ganske rotete om noen felt (beløp/tall) skal være høyrejustert, mens andre felt (tekst/dato) skal være venstrejustert. Har dere tenkt på dette?

[2018-05-03 09:04] selbekk commented on #219
Definitely a bug - but button text should not wrap!

[2018-05-03 10:55] selbekk commented on #205
Can't we add max-width to `ffe-grid__column > *`? That would probably solve most issues?

[2018-05-03 11:02] wkillerud commented on #205
That could work I suppose. Sounds like a potentially breaking change though.

[2018-05-04 10:29] dagtj commented on #216
Jeg forstår faktisk ikke helt hva du mener her, hvordan det kan være et problem at et skjema består av ulike elementer som oppfører seg ulikt. Se vedlagte eksempel.
![endre](https://user-images.githubusercontent.com/38855095/39623658-aa428c66-4f96-11e8-8e58-f5fbd921268f.png)

[2018-05-04 11:00] hdaljord commented on #216
I eksempelet ditt kan øynene lese nedover helt til du kommer til kroner-feltet hvor man plutselig må hoppe til høyre for å se innholdet. Her er det bare ett felt som skiller seg ut, men i lengre skjemaer kan det bli mye mer hopping og færre linjer å følge med øynene, og muligens fremstå som mer rotete og mer slitsomt å lese/følge.

[2018-05-04 11:22] dagtj commented on #216
Enig at vi skal tilstrebe god leseflyt i skjema. Men det er få felt vi anbefaler å høyrejustere. Kroner-feltet her har også automatisk formattering innebygd. I det du legger 4 til 123 legger vi til mellomrom lengst til venstre - 1 234. Denne formatteringen vil føles mer naturlig i et høyrejustert felt. Det skaper også mer orden når kroner og øre står samlet. Når dette skjemaet er tomt vil du lese

[2018-05-04 11:29] hdaljord commented on #216
Jeg reagerte mest på at det stod "skal" hvis dette skal være retningslinjer som skal gjelde overalt. Det er forskjell på skjemaer og det betyr også at det kan være forskjell på hvordan dette bør være.

Det vil også være mer naturlig at de er høyrejustert slik som i eksempelet de stedene der du har et påfølgende felt for øre, men det er ikke overalt vi har med felt for øre. For eksempel har vi i fo

[2018-05-04 11:44] dagtj commented on #216
Det er ikke opptil meg å vurdere graden av pålegg her, men Sparebank1 bør opptre mest mulig konsistent langs alle akser. Vi har spilt inn et forslag som de ansvarlige får ta videre som de vil. Har fjernet ordet "skal" for å gjøre dette mindre kontroversielt. Det vil også være nyttige å samle flere eksempler på tvers for å se om reglene lar seg anvende ulik kontekst og bruk, slik du sier.

[2018-05-04 12:35] hodoea commented on #208
Can you change it to 13 px same as ffe-input-field? :) @henrikhermansen

[2018-05-04 13:07] #208 closed, assigned to henrikhermansen, hodoea

[2018-05-04 13:11] henrikhermansen opened #223 "Ghost action transition seems to be done in two steps instead of one"
#### Which package is this issue related to?
ffe-buttons

#### Describe your issue (screenshots welcome!)
Transition effect for ghost action button appears to be done in two steps, instead of one smooth step.
To elaborate: the background color seems to transition first, and then the text color transitions. This makes the text and background have the same color for a brief moment, and the whole thi

[2018-05-04 13:37] henrikhermansen commented on #219
What's more is `tertiary` buttons doesn't look good in an inline group either.
Just have a look in [the designguide](https://design.sparebank1.no/styleguidist/index.html#!/ButtonGroup/5)

PS! Don't mind the second row, it's actually a `thin` button group, not an `inline` one. My bad!

[2018-05-04 14:30] #223 closed, assigned to henrikhermansen

[2018-05-04 17:52] benmatthews commented on #186
`transform-origin: 50.01%` did not seem to fix the problem... neither does adding some hardware accelerated css like `transform: translate3d(0,0,0)` or ` transform: translateZ(0)`.

I think we could create more fun and interesting spinners by using an inline svg instead of styling a pseudo element.  This would be easy to add to the react packages but might mean a bit more work for people only usin

[2018-05-04 18:36] benmatthews commented on #180
The css is actually using `rotateX(180deg)` which rotates around the x axis.  I guess a simple solution to this is to just use `rotate(180deg)` but then the GPU is not going to be used... so maybe the right solution is to use `rotateZ(180deg)`

[2018-05-04 20:24] selbekk commented on #186
@benmatthews unfortunately - IE doesn't support animating SVGs with CSS, so that's kind of a show-stopper :(

[2018-05-04 20:45] selbekk commented on #181
Fixed by mine and Adi's walk through I think.

[2018-05-04 20:45] #181 closed, assigned to nobody

[2018-05-07 05:57] ivarni commented on #186
What @selbekk said. If I recall correctly we have some SVGs where we've just accepted that animation won't happen in IE but that's not really an option for a spinner.

I'm pretty sure it's possible to do this in IE with just DOM and CSS though, if we wanted to spend the time on it.

[2018-05-07 05:58] ivarni commented on #180
I'm fairly sure we can live without GPU acceleration for this one :)

[2018-05-08 08:12] adidick-zz commented on #180
I think it's safe to stick to the X-Y rules for the sake of consistency here.
I personally think the 180 spin is a bit weird visually in regards to the way the field actually expands (rotate ≠ expand) so that's something we could look into in regards to how all of our transitional animations work. It would be nice to visually support the action.

[2018-05-09 10:51] wkillerud commented on #180
Solved in #225

[2018-05-09 10:51] #180 closed, assigned to nobody

[2018-05-09 13:43] henrikhermansen opened #229 "Inline button icons missing margin"
#### Which package is this issue related to?
ffe-buttons

#### Describe your issue (screenshots welcome!)
Inline buttons (like tertiary) can have left or right icon given the component props `iconRight` and `iconLeft`
![image](https://user-images.githubusercontent.com/435037/39817629-eeda7fee-539e-11e8-870d-8ae704c9c907.png) ![image](https://user-images.githubusercontent.com/435037/39817631-f12f5b

[2018-05-09 13:56] antidecaf commented on #17
Possibly decent option: [Puppeteer](https://github.com/GoogleChrome/puppeteer)

[2018-05-11 07:49] #229 closed, assigned to henrikhermansen

[2018-05-14 07:25] paandahl opened #231 "Forwarding refs to <Input>-component in ffe-form-react"
#### Which package is this issue related to: ffe-form-react

#### Describe your issue (screenshots welcome!)

This is more of a technical feature request. I am working on another internal component at SB1, that adds managed formatting to an input. I want to use the `Input` from ffe-form, but need to access the DOM ref to manage selection/cursor position. I currently achieve this with ReactDOM.find

[2018-05-14 07:48] paandahl opened #232 "classnames is wrongly declared as a devDependency in ffe-form-react"
#### Which package is this issue related to: ffe-form-react

#### Describe your issue (screenshots welcome!)

In the `package.json` of ffe-form-react, `classnames` is described as a devDependency. It is however imported and used directly in components, so the build will fail if it's not in place.

I think this dependency should be changed either to a normal dependency (for bundling) or to a peer d

[2018-05-14 09:53] wkillerud commented on #232
Yes, sounds to me like it should be a direct dependency :)

[2018-05-14 09:59] wkillerud commented on #231
`Input` spreads all given props except `className`, `inline`, and `textLike` (which are used to build the className value) to the `input` element, so I think what you need is supported already.

[code]

So if you set a `ref` property on `Input` in your code you should get the ref for the `input` element.

[code]

[2018-05-14 10:03] ivarni commented on #231
I thought the `ref` prop was kinda magic and never actually passed to the component, like `key`?

[2018-05-14 10:09] wkillerud commented on #231
Oh, I see.

Then it would be nice to use the new `forwardRef` feature from React to avoid reinventing the wheel with a custom prop. That means a breaking change, but it's a no-hassle upgrade so it should be fine I'd say :)

[2018-05-14 14:09] wkillerud opened #233 "ffe-webfonts: Minification strips away font license"
#### Which package is this issue related to?

`ffe-webfonts`

#### Describe your issue

The license is stripped away during minification

#### What is the expected behavior?

The license should use a common mechanism for indicating it shouldn't be stripped away, like for instance [Normalize.css](https://github.com/SpareBank1/designsystem/blob/36dc3a255a300b3639b727ccdef8729c24a6a036/packages/ffe-c

[2018-05-15 05:14] ivarni commented on #233
What we've done is to have the comment block start with `/*!` instead of `/**`. This apparently is magic syntax to tell [clean-css](https://github.com/jakubpawlowicz/clean-css) to not strip the comment during minification. [[1]](https://stash.intern.sparebank1.no/projects/KFP/repos/kfp-aksept/browse/kfp-aksept-client/src/index.html.js#61-104)

But there is no way we can guarantee that a consumer's

[2018-05-15 05:16] ivarni commented on #233
Ah, and then I clicked your link to see that the comment is exactly what you were linking to :)

[2018-05-15 05:18] ivarni commented on #233
And now I see you've made a PR already. Good thing I'm paid by the hour. Anyway, at least now the issue itself contains a bit more information if someone stumbles over it later ;)

[2018-05-15 09:17] wkillerud commented on #233
Fixed in #235

[2018-05-15 09:17] #233 closed, assigned to nobody

[2018-05-15 10:48] ksawerysb1 commented on #190
Issue was solved in ffe-datepicker-react 3.1.3, closing.

[2018-05-15 10:48] #190 closed, assigned to ksawerysb1

[2018-05-18 12:06] henrikhermansen opened #240 "Let's define a color for input placeholders"
#### Which package is this issue related to?
ffe-form

#### Describe your issue (screenshots welcome!)
In #237 we addressed the issue of placeholders in IE getting the same color as the text color.

After bumping ffe-form in our app, I noticed the placeholder of an input field now differed from the placeholder of a searchable dropdown.

While a HTML dropdown can't have a placeholder out of the box

[2018-05-18 14:09] henrikhermansen commented on #240
After some deliberation with my UX resource I have some updated opinions/suggestions:
- still add `::placeholder` to `.ffe-dropdown`, with the goal of making searchable dropdowns and account selectors appear the same as regular dropdowns
- opacity should be added to placeholders as the current color of `.ffe-input-field` is probably too bright due to browser default opacity
- don't change anything

[2018-05-22 06:17] #158 closed, assigned to henrikhermansen

[2018-05-22 06:29] ivarni opened #241 "Strip padding from ffe-grid"
#### Which package is this issue related to?

ffe-grid

#### Describe your issue (screenshots welcome!)

I'm using the `.ffe-grid` class on a `<ul>` element. In webkit, padding is then added to the `<ul>` element via `-webkit-padding-start` which is applied by the browser directly to the element.

![image](https://user-images.githubusercontent.com/379849/40345574-04eea288-5d9a-11e8-9bac-79c7bca99a

[2018-05-22 06:32] selbekk commented on #241
Seems like stripping / setting padding and margin values is a fair assumption to make.

[2018-05-22 06:36] selbekk commented on #240
This is definitely something we should normalize somehow.

Ref your last question - we can create a "placeholder" for dropdowns by styling the "selected disabled" option elements.

[2018-05-22 06:37] selbekk commented on #232
Seems like a bug. I'll fix it =)

[2018-05-22 06:44] selbekk commented on #231
+1 on the [`forwardRef`](https://reactjs.org/docs/forwarding-refs.html) approach. I'll submit a PR shortly - I have a few minutes to spare anyways, and I've longed for an excuse to try out this API =)

[2018-05-22 06:55] henrikhermansen commented on #240
Yeah, that's exactly what I did to create the color on the "Velg portefølje" dropdown.
I see the confusion about what's suggestions and what's questions :)

One way to do this could be to add a class to the placeholder option, and a class to the dropdown while the placeholder is selected. Styling could be something like this:
[code]

Edit: There's a question tho: do we want to have placeholders in

[2018-05-22 08:09] #232 closed, assigned to selbekk

[2018-05-22 08:19] wkillerud commented on #240
Regarding default browser opacity, is this something we can work around with a reset?

[2018-05-22 08:33] henrikhermansen commented on #240
@wkillerud we can set the opacity to whatever we want. Set it to 1 to make placeholders have the color we give them. Set it to 0.75 together with @ffe-grey-charcoal to make the placeholder appear very much like default placeholder in Chrome.

[2018-05-22 09:30] henrikhermansen commented on #240
By the way, if we go for opcaity 1 charcoal and black might be a little too similar?
![image](https://user-images.githubusercontent.com/435037/40354123-75a97d36-5db3-11e8-9b4d-388de58b74cc.png)

If we don't go for opacity 1, I don't think we can get a matching text color on the dropdown, as giving the dropdown opacity would fade the entire dropdown. With input fields we can actually set opacity on

[2018-05-22 09:56] wkillerud commented on #240
This is something for the GD crowd, but I'd say we should set opacity 1 and use a color that makes sense (perhaps not charcoal). That way we're sure we use the same presentation across browsers and that the text isn't suddenly unreadable because of some browser-applied opacity.

[2018-05-22 10:15] henrikhermansen commented on #240
GD crowd?

We decided upon charcoal in #237 because it's the only one with high enough contrast to white to pass WCAG AA.
Speaking of WCAG, the default placeholder in Chrome is actually not WCAG AA compliant. I suppose this raises the question: does a placeholder need to be WCAG compliant?

Our @ffe-grey with opacity 1 is extremely close to default Chrome placeholder.
I can't really tell the diffe

[2018-05-22 10:52] paandahl opened #243 "New component: StepIndicator"
A new design component is in the works, that will show the steps of a process, and indicate the users progress.

I am creating this issue to have an identifier - the preliminary discussions have taken place in the Designsystem-channel on HipChat.

I don't have the permission to assign issues, but this issue can be assigned to me. I will try to coordinate with the designers, and then submit a PR fo

[2018-05-22 11:34] eksb1 opened #244 "Accessibility error message in ffe-account-selector-react"
#### Which package is this issue related to?
ffe-account-selector-react
#### Describe your issue (screenshots welcome!)
Accessibility error message: A button is empty or has no value text for close button and expand-list button in account selector.

#### What is the expected behavior?
These buttons/symbols are not available with Tab, so area value could be disabled.

#### What is the actual behavi

[2018-05-22 12:11] adidick-zz commented on #240
It sounds like it would be safest to go with charcoal at opacity 1. The downside is that the charcoal might look similar to black but we still have the placeholder text to describe what the user needs to do. And then, at worst, they will still get an error message if they don't see the placeholder text and leave the field blank. I think that gives us the most control and keeps everything standardi

[2018-05-23 07:02] henrikhermansen commented on #240
Sounds good indeed!
After a brief chat with Adi we also decided to leave regular dropdowns as they are, but apply `::placeholder` to `.ffe-dropdown`. This will give the correct placeholder color to searchable dropdown and account selector, which in fact are input fields that can have a placeholder property.

[2018-05-23 08:16] selbekk opened #246 "Export colors and breakpoints as JS variables!"
#### Which package is this issue related to?
ffe-core

#### Describe your feature request
I want to start using CSS-in-JS in one of our apps, and I would love to have the LESS variables in ffe-core available in JavaScript as well.

I'm suggesting writing a script that would extract variables from the ffe-core LESS files, and expose them as named exports of the `ffe-core` package.

[2018-05-23 08:34] ivarni commented on #246
Last time we discussed this it stranded on how we're going to handle animations. Do we have a strategy for that now?

[2018-05-23 08:36] ivarni commented on #246
I don't think we should start exposing these things untill we know how to solve the harder problems that will come down the road so I'd advice to do that locally first.

[2018-05-23 08:40] selbekk commented on #246
Animations isn't a part of this issue imo. It can be solved in a different PR - but be exposed in a similar fashion later on.

Actually, if you're using css-in-js, animations can be solved this way too! :) We'd just expose the motion.less variables as well, and they could then be used in css-in-js keyframes. For JS-only, I'm sure there is some kind of library that could translate the css string to

[2018-05-23 11:13] selbekk opened #248 "Missing index-file for ffe-core-react"
#### Which package is this issue related to?
ffe-core-react

#### Describe your issue (screenshots welcome!)
Currently, I have to import components from the lib folder like this:

[code]

I would love an index file that exported all of these components as named components, so I could use it like so:

[code]

Not sure when the original index disappeared - perhaps it was never added (by myself)?

[2018-05-23 12:43] #240 closed, assigned to henrikhermansen

[2018-05-23 13:05] ivarni commented on #241
Ah, perfect. I just came to create an issue for this now and someone was nice enough to have already done it yesterday. I'll look into this right now! 😜

[2018-05-23 13:20] #248 closed, assigned to selbekk

[2018-05-24 07:54] ivarni opened #252 "Documentation for ffe-message-box-react is wrong"
#### Which package is this issue related to?

`ffe-message-box-react`

#### Describe your issue (screenshots welcome!)

The [docs](https://design.sparebank1.no/styleguidist/index.html#messagebox) for `ffe-message-box-react` tell me I can do stuff like

[code]

But the [exports](https://github.com/SpareBank1/designsystem/blob/develop/packages/ffe-message-box-react/src/index.js) are:
[code]

[2018-05-24 07:55] ivarni commented on #252
How do we want to fix this? Having the `Box` suffix matches the package name which makes it more intuitive but changing the exported names to match would be a breaking change.

Which approach is prefered?

[2018-05-24 08:13] ivarni opened #253 "Icons can not be supplied as-is to ffe-message-box-react"
#### Which package is this issue related to?

`ffe-message-box-react`

#### Describe your issue (screenshots welcome!)

I'm trying to provide a custom icon to [MessageBox](https://design.sparebank1.no/styleguidist/index.html#messagebox).

It seems like the CSS that's [normally applied to the default icons](https://github.com/SpareBank1/designsystem/blob/develop/packages/ffe-message-box-react/src/S

[2018-05-24 08:19] ivarni opened #254 "There seems to be a problem in the ButtonGroup"
#### Which package is this issue related to?

`ffe-buttons` and/or `ffe-buttons-react`

#### Describe your issue (screenshots welcome!)

When looking at the [docs for ButtonGroup](https://design.sparebank1.no/styleguidist/index.html#buttongroup) there seems to be an issue with the inline variant where some of the buttons are vertically challenged when it comes to placement

#### What is the expect

[2018-05-24 08:27] ivarni commented on #254
Something's up with the small-screen view as well

![image](https://user-images.githubusercontent.com/379849/40473663-1ff591aa-5f3d-11e8-9463-24b0d5c4a408.png)

[2018-05-24 10:27] wkillerud commented on #252
The string is built by [getComponentPathLine in styleguide.config.js](https://github.com/SpareBank1/designsystem/blob/0aab6f817f7c49dca05a72d71e29fe8e2118fb0f/styleguide.config.js#L29), which uses the JS file name as the export name. It was assumed this relationship would be 1:1, but apparently not.

I'd suggest renaming the files, honestly. The `Box` suffix should be well enough covered by the pa

[2018-05-24 10:29] #241 closed, assigned to ivarni

[2018-05-24 10:35] ivarni commented on #252
In that case I'd prefer we don't expose the `Message(Box)` component.

We probably shouldn't do that anyway, since it's more of a base-class and an implementation detail?

[2018-05-24 10:49] wkillerud commented on #253
I was sure we exported the raw `MessageBox`, but looking at it now I see we don't.

I was about to say if you need something outside the defaults you should use `MessageBox` directly, even if it's just a different icon. A `TipsMessage` isn't a proper `TipsMessage` without the `LyspareIkon` IMO.

[code]

Does this make sense? If so we should start exporting `MessageBox`.

If not then I think it mak

[2018-05-24 10:51] wkillerud commented on #252
My comment on #253 is relevant to your last comment. If we end up keeping it unexported then for sure it shouldn't have a fake import statement.

[2018-05-24 10:51] ivarni commented on #253
Any other size could lead to the icon not fitting into it's little crevice on top of the box so I'd rather add some text pointing out that the icon should come from `ffe-icons-react` to be honest. Even with different icons I got a feeling we want these boxes to look sort of similar and all kinds of different sizes won't help with that.

[2018-05-24 10:53] ivarni commented on #252
I think it's counter-intuitive to expose it since we then also need to teach consumers about the little magic strings that produce the 5 different kinds of message-boxes we have defined? If we go that route we might as well expose *just* the MessageBox in my opinion.

[2018-05-24 10:57] wkillerud commented on #252
Four, and we don't need any more than to remove the `* @ignore` line in `propTypes` in `MessageBox` along with a "you probably want one of these four instead" pointer.

The four wrapper components still bring value in semantics and convenience.

[2018-05-24 10:59] ivarni commented on #252
My main point is that we don't need both. There's nothing you can do with a `MessageBox` that you can't do with one of the wrappers

[2018-05-24 11:02] wkillerud commented on #252
No, but if we open for overriding one of the two things that distinguish an `InfoMessage` from other boxes (for a lack of a better word) then I feel the name loses meaning, and the name is important when communicating.

[2018-05-24 11:06] ivarni commented on #252
How is that different from supplying `type="info"` while overriding the icon? It's just a more cumbersome way of doing the exact same thing. It's *still* an `InfoMessage`, we just lost some syntactic sugar.

[2018-05-24 11:11] wkillerud commented on #252
Yeah, maybe.

In that case it should be excluded and be named `Base*` like the other packages we have. I can make a PR.

[2018-05-24 11:12] ivarni commented on #252
I had already started on one, but if you want to handle this feel free :)

[2018-05-24 11:13] wkillerud commented on #253
Allright. The style stuff we have today can be moved to `MessageBox` and made so it's applied by default but still overridable. ~~I'll be making changes in that area in #252 so I can take a look at this while at it~~. Ah, you already started - go ahead :)

[2018-05-24 13:04] ivarni opened #256 "Take a look at background colors in ffe-grid"
#### Which package is this issue related to?

`ffe-grid`, `ffe-grid-react`

#### Describe your issue (screenshots welcome!)

[The designguide](http://design.sparebank1.no/visuell-identitet.html#visuell-identitet_farger) defines a series of colours that can be used as backgrounds, namely

ffe-grey-warm
ffe-sand
ffe-green-mint
ffe-blue-pale
ffe-orange-salmon
ffe-red

and

ffe-blue-pale
ffe-blue-ice

[2018-05-24 13:34] ivarni commented on #253
Say we add the `iconStyles`, should we take care to preserve any existing style object on the passed `icon` element?

I am thinking something like
[code]
instead of just
[code]

That way, we keep any inline styles like `fill` that might have been passed or is it better to not support changing the colour of the icon away from the [defaults](https://github.com/SpareBank1/designsystem/blob/develop/pa

[2018-05-24 13:36] ivarni commented on #253
I am leaning towards simply overriding any passed `style` prop, or possibly detecting it and just setting the sizes so that icons always are of the same size (so they fit where they're meant to go). As can be seen in the initial screenshot, custom sizes might break the whole thing entirely.

[2018-05-25 06:26] ivarni commented on #256
I am going to go ahead and add the missing ones at least and I'll wait with removing anything untill we can figure out if we want to do that.

[2018-05-25 09:52] #252 closed, assigned to ivarni

[2018-05-25 09:59] #246 closed, assigned to selbekk

[2018-05-25 10:04] dagtj commented on #216
Har lagt på et passord på AxShare siden sist, fornavnet til aller øverste direktør i SB1. Du vet ikke, sier du? Vel, da lærte du noe nytt: turid

[2018-05-25 13:43] dagtj commented on #216
Har lagt til to regler til på AxShare.

[2018-05-28 13:39] henrikhermansen opened #260 "New type of card(?) for overview and landing pages"
#### Which package is this issue related to?
ffe-cards and ffe-cards-react, I suppose

#### Describe your issue (screenshots welcome!)
We have a new type of card (or whatever it is to be named) which is already in use on banking overview beta, and is soon to come to various banking landing pages.
I suppose insurance will use this as well, but I don't know.

There are two types of cards.
The bigger

[2018-05-28 13:47] ivarni commented on #260
Are they going to be used around grids and is (e.g.) the text then going to be expected to line up with other grid column content? Same question for the lean one re the condensed grid.

To me this *feels* like it's not really much more than a border-shadow around a box, especially if we could use the grid for laying out the internal parts of it (in which case it is tempting to just suggest adding

[2018-05-28 14:01] wkillerud commented on #80
@Heilysto og/eller @hodoea , ta gjerne en titt på https://design.sparebank1.no/visuell-identitet.html#visuell-identitet_farger ved anledning og se om løsningen er innenfor :)

[2018-05-28 14:03] henrikhermansen commented on #260
For now my idea is to put these as components inside grid columns.

I'm not sure how specific or flexible we want these to be.
I think this is something we should have design involved in.

I've been working on some code, and so far it's not as flexible as you describe it. This is because I believe there are certain design limitations/requirements to these cards that needs to be taken into account.

[2018-05-28 14:09] henrikhermansen commented on #260
Hmm about using the grid. The grid is using padding to create space, but we want space between the cards, so simply adding box shadow to the grid won't work.

[2018-05-28 14:42] hodoea commented on #80
Ok. Vi må se på de eksemplene som feiler i Contrast Checker. @Heilysto :)
@wkillerud  Btw jeg tror du tagget en feil bruker, mitt er "hodoea". 😆

[2018-05-29 05:54] ivarni commented on #260
For the record, and in hindsight, I think putting `ffe-cards` in as a FFE component was a mistake. After receiving different specs from different designers here over the last 4-5 years it's fairly clear to me that they are treating those cards as just a border they can put stuff into and I usually end up implementing it by just literally sticking a border around a `div` and calling it a day.

That

[2018-05-29 06:27] henrikhermansen commented on #260
I totally see your points here. A general purpose card for putting all sorts of things into definately needs to be made very simple and general purpose to keep it manageable here. The cards we have today has failed on this point.

I do, however, have the impression these new cards are supposed to have a specific design, with less freedom for each team.
If this is the case, I think it's an advantag

[2018-05-29 07:37] wkillerud commented on #80
Oops :sweat_smile:

[2018-05-29 12:29] wkillerud opened #264 "ffe-buttons: Button text should not wrap"
#### Which package is this issue related to?

`ffe-buttons`

#### Describe your issue

If a button label becomes long enough it starts wrapping over two lines. The buttons are not designed for this, and the end result is kind of odd looking.

#### What is the expected behavior?

Button labels should never wrap

#### What is the actual behavior?

They
wrap

[2018-05-29 12:30] wkillerud commented on #264
Should be solvable by adding `white-space: nowrap;`, but this may cause some breakage if people depend on the wrapping behavior today.

[2018-05-31 13:52] selbekk commented on #264
Should we consider it a breaking change then, or should we stick with the API-specification of breaking?

[2018-05-31 14:33] selbekk commented on #256
cc @adidick - do you agree that we remove the background colors specified above? What should they be migrated to?

[2018-05-31 14:34] selbekk commented on #244
#258 fixed this.

[2018-05-31 14:34] #244 closed, assigned to eksb1

[2018-05-31 14:36] selbekk commented on #231
So I've fixed this in the PR, but enzyme (our React testing framework) doesn't support the feature yet.

I've fixed this temporarily by disabling tests for two components, but I'm not sure if this is good enough for a merge. The fix is merged to master, but not released yet (hasn't been for 3 months).

[2018-05-31 14:37] selbekk commented on #219
What's the status here @henrikhermansen ? if you're no longer working on this, you might want to de-assign yourself :)

[2018-05-31 14:37] selbekk commented on #211
Closing this for now, as we're looking at a full redesign of these cards.

[2018-05-31 14:37] #211 closed, assigned to nobody

[2018-05-31 14:51] selbekk commented on #189
I skipped the last part, but a pr is available at #267

[2018-05-31 17:33] wkillerud commented on #264
It's tricky sometimes with CSS. We may not break any API, but for instance going from `display: block;` to `display: inline;` would cause major problems if released as a patch. This property similarly will have consequences for layout. In most cases it shouldn't be a problem, but we don't know that for sure. The safest is to mark it as a breaking change and explain the possible consequence of upgr

[2018-06-01 05:29] ivarni commented on #211
Why is that a reason to close it? If anything it makes it more relevant...

[2018-06-01 05:30] #253 closed, assigned to ivarni

[2018-06-01 07:36] ivarni commented on #256
I don't think we need to decide right here what they should be migrated to, consumers using them can choose to either use something else or add their own CSS for this, surely?

[2018-06-01 11:57] ksawerysb1 opened #270 "ffe-account-selector-react: wrong class on AccountSelectorMulti statusbar-button"
#### Which package is this issue related to?
ffe-account-selector-react
#### Describe your issue (screenshots welcome!)
AccountSelectorMulti statusbar Button styling in is off
#### What is the expected behavior?
Button should have a standard ffe-button styling.
Class should be ffe-button ffe-button--primary
#### What is the actual behavior?
Button has a class that does not match styling.
Class is

[2018-06-01 12:03] hodoea commented on #91
Jobber med en ny skisse. Vi har stil og tone kurs på onsdag, så jeg skal få innspill på hvordan den siden kan forbedres. :) https://sparebank1.invisionapp.com/d/main#/console/12247316/257696242/preview

[2018-06-01 12:32] antidecaf commented on #91
@hodoea Nice! Liker gjenbruken av tab-konseptet fra fargeoversikten.

[2018-06-04 07:54] selbekk commented on #211
This issue was made as a simple "todo" for when me and Adi worked together on tweaking designs. There is a different issue for the redesign of cards, which this should factor into imo.

[2018-06-04 07:57] ivarni commented on #211
I don't see this issue being referenced from any other issues though, perhaps you can create that link so this doesn't get lost in the sands of time?

[2018-06-04 07:57] selbekk commented on #256
I know they can solve this in different ways, but I would greatly appreciate it as a consumer if somebody told me "hey, you're using the wrong light blue background. Use this one instead" while updating.

[2018-06-04 08:01] #149 closed, assigned to ivarni

[2018-06-04 08:18] selbekk commented on #211
Sure. Closed due to the redesign issue #260

[2018-06-04 08:23] henrikhermansen commented on #219
@selbekk I unassigned the same day I assigned myself. I haven't been assigned to this for 24 days ;)

[2018-06-04 08:24] selbekk commented on #219
Aha! Sorry, I must have misread the overview page then. Carry on!

[2018-06-04 09:42] adidick-zz commented on #256
Sorry, I've been away since Wednesday.
I'm all for adding colours that are missing, but as for removing, I'm less sure.
For example, blue-royal is used as the background colour for the footer (and possibly other things?), so I wonder if it's necessary to remove the others, or maybe have some way of prioritising/recommending the most appropriate ones and having a secondary set of edge-case colours?

[2018-06-06 07:57] #219 closed, assigned to nobody

[2018-06-06 08:06] #264 closed, assigned to selbekk

[2018-06-06 09:42] selbekk opened #278 "Radio buttons don't end up on a new line in IE 11"
#### Which package is this issue related to?
ffe-radio-button-react

#### Describe your issue (screenshots welcome!)
If you look at our radio button examples on design.sparebank1.no in IE11, you'll notice that the radio button elements are inline after the label. They should always be on the next line.

![image](https://user-images.githubusercontent.com/1307267/41030398-8a35452e-697e-11e8-9be3-a2c

[2018-06-06 13:01] wkillerud commented on #108
https://github.com/greenkeeperio/greenkeeper/issues/594#issuecomment-395048730

:shipit:

[2018-06-07 07:43] #278 closed, assigned to selbekk

[2018-06-08 06:36] wkillerud opened #281 "Føringer for bruk av kolonner i griden"
#### Hvilken del av designsystemet gjelder det?

Gjelder feilmeldingene som printes ut av `ffe-grid-react` ved visse konfigurasjoner av griden.

For medium:

For mindre skjermer:

Det er ingen sånne føringer for `large`.

#### Beskriv problemet

Det er ikke alltid jeg får et design som passer mønsteret som disse feilmeldingene sier jeg skal holde meg til. Sånn jeg ser det er det to muligheter her:

[2018-06-08 06:37] wkillerud commented on #281
Spørsmålet blir - hva synes dere?

[2018-06-08 06:43] ivarni commented on #281
Det har vært en diskusjon rundt dette før. Gridden ble definert til å ha 4 kolonner på mobil, 6 på pad og 12 på desktop. Jeg er i den campen jeg alltid har vært i, nemlig at det ikke er opp til oss å overstyre det.

[2018-06-08 06:44] ivarni commented on #281
Så lenge man bruker gridden til *layout* og ikke til å designe innholdet i komponenter er ikke dette et veldig stort problem i mitt hode.

[2018-06-08 08:20] antidecaf commented on #281
Jeg er også i denne campen.

[2018-06-08 09:33] ivarni opened #282 "Normalize padding props for the grid"
#### Which package is this issue related to?

`ffe-grid-react` (mayhaps `ffe-grid`)

#### Describe your issue (screenshots welcome!)

I'm getting a bit fed up trying to remember what the padding props are called

Grid: `noTopPadding`
GridRow: `topPadding`
GridCol: `noBottomPadding`

It's annoying having to remember which ones have the negative prefix and which ones do not.

My suggestion is to at

[2018-06-08 10:31] wkillerud commented on #186
I had a look at this issue today, and from what I could tell moving the animation out from the pseudo-element fixed the shaking for `ffe-spinner`. In other words animating the actual `span` instead of `::before`. Unfortunately it had no effect on the spinner inside the buttons when I did the same thing there (they don't share code) :sob:

[2018-06-08 11:21] antidecaf commented on #254
Fixed via #276/#277

[2018-06-08 11:21] #254 closed, assigned to antidecaf, torbein

[2018-06-11 08:19] benmatthews commented on #176
`Locale` applies to more things than just language e.g. date formatting, decimal formatting, monetary conventions etc. so if we go for `language` as a prop might we end up in a situation where we also need a `locale` prop?  and that would be unfortunate, the `AccountSelector` uses locale to format currency for example.

+1 for an optional 'locale' or 'i18n' prop and defaulting to `nb`.

[2018-06-12 06:59] wkillerud commented on #282
Consistency would be nice, and I like the idea of using both `true` and `false` in the same prop rather than having a named prop for each case.

Regarding adding missing props, I'm a bit wary of adding modifiers before we get designs that need them. I suppose for top- and bottom padding in a grid it should be safe to do though 🤔

Maybe we should use `oneOf([true])` (or `false` if that makes more s

[2018-06-12 07:01] wkillerud commented on #176
Good point about `locale` vs `language`. I agree, `locale` should be the way to go since we do/should adapt more than just the language (like dates, currency).

[2018-06-12 08:12] ivarni opened #285 "React icons are having height/width props set on them"
#### Which package is this issue related to?

`ffe-icons-react`

#### Describe your issue (screenshots welcome!)

When using icons from the `ffe-icons-react` package they all come with the `height` and `width` property set.

#### What is the expected behavior?

I'm expecting us to rely on the FFE components setting only the viewbox, leaving the consumer in charge of controlling the actual size of

[2018-06-12 10:03] ivarni commented on #282
I'm fine with not adding new classes to the CSS, it's less work that way and it's still an improvement if I only have to rememeber that cols deal with bottom padding while rows and grids have top padding.

[2018-06-13 07:45] ivarni commented on #256
Yes we can. That's exactly what we do if we drop the FFE support for it. They can still use their own CSS if they really really really want to do it. If want to we discourage doing something then not making it too easy to do is a really good way to signal that in my opinion.

[2018-06-13 07:51] ivarni commented on #256
@selbekk I *was* planning on mentioning it in the changelog :)

[2018-06-13 13:48] paandahl opened #287 "Browser autocomplete triggering on SearchableDropdown"
#### Which package is this issue related to?

`ffe-searchable-dropdown-react`

#### Describe your issue (screenshots welcome!)

SearchableDropdown gets autocomplete-list if the field has been submitted before.

![screenshot-1](https://user-images.githubusercontent.com/44539/41354943-95c5865e-6f20-11e8-829c-e2f390ffa52d.png)

#### What is the expected behavior?

On this component, autocomplete brea

[2018-06-14 04:59] ivarni commented on #287
There's no need to make a property for this, there is already native DOM attributes for controlling it. Using [this pattern](https://github.com/SpareBank1/designsystem/blob/develop/CONTRIBUTING.md#videresend-props) with letting the consumer pass arbitrary  props via a destructured pass-on-props variable means we don't have to explicitly expand the API for things like this, and that we don't alias

[2018-06-14 05:01] ivarni commented on #287
Although one could argue that this component shouldn't have autocomplete enabled ever, due to its nature. In that case, we don't need an API prop for it at all.

I think the ideal solution is to just disable autocomplete by default *and* introducing the rest-pass-on described in CONTRIBUTING.md linked above.

[2018-06-14 05:40] #285 closed, assigned to ivarni

[2018-06-14 07:44] paandahl commented on #287
`<InputField>` is a clear candidate for passing rest-props, but in the case of `<SearchableDropdown>`, the `<InputField>` is just one of several sub-components it renders. Do you think I should:

a) Pass on the rest-props to the `<InputField>` (since it's the main input rendered)
b) Make a new prop, `inputProps`, that takes an object, and spreads it onto `<InputField>`
c) Drop rest-props on `<Sear

[2018-06-14 07:50] ivarni commented on #287
I've seen the `inputProps` approach being used in other components but I think that's mainly where there is a need to pass props to different sub-components, so I'd vote  for *b)* or just fixing the problem at hand with *c)*.

I'm betting @selbekk is going to recommend a render-function, which is also an option here :)

On that note, we're pretty much just using [downshift](https://www.npmjs.com/p

[2018-06-14 12:16] selbekk commented on #287
The officially documented [render props`](https://reactjs.org/docs/render-props.html) technique is nice and all - but not the appropriate approach here. We don't ever want autocomplete on a searchable dropdown, because we implement our own "autocomplete" in a way. Therefore I suggest we follow your third recommendation, and just turn off autocomplete on the input field. Easy fix!

[2018-06-15 08:26] ivarni commented on #108
https://twitter.com/greenkeeperio/status/1007245789679243266

[2018-06-15 09:52] eirikv opened #290 "margin-top: ffe-bullet-list"
Første elementet i en ffe-bullet-list burde ikke ha margin-top.
Fikk input fra designer at dette skaper for mye mellomrom mellom overskriften eller innledningseksten og listen. I praksis er denne marginen lagt til for å ha mellomrom mellom elementene i listen og er egentlig ikke noe vits å ha for første elementet.

Noen innvendinger?

[2018-06-18 06:28] ivarni opened #291 "Add support for always showing a tooltip"
#### Which package is this issue related to?

`ffe-form-react`

#### Describe your issue (screenshots welcome!)

I've been getting several designs lately where the input-group is rendered with an always visible non-toggleable tooltip

![image](https://user-images.githubusercontent.com/379849/41521075-11bf07f4-72d1-11e8-99b0-4585089fd4d1.png)

It would be nice to have support for this out of the bo

[2018-06-18 07:49] ksawerysb1 opened #292 "ffe-checkbox-react: disable prop grayout"
#### Which package is this issue related to?
ffe-checkbox-react
#### Describe your issue (screenshots welcome!)
Setting the disabled prop does not result in a grayed out checkbox, might be confusing if an element doesn't change it's status when clicked but is not visibly represented as disabled.
#### What is the expected behavior?
Some visual indication that the element is disabled, usually it is

[2018-06-18 07:58] #287 closed, assigned to paandahl

[2018-06-18 08:02] paandahl opened #293 "SearchableDropdown passes more props than it should to InputField"
#### Which package is this issue related to?
`ffe-searchable-dropdown-react`

#### Describe your issue (screenshots welcome!)
`<InputField>` passes on rest-parameters to its `<input>`, but doesn't filter out all non-input parameters first, triggering error messages in the console in dev-mode.

#### What is the expected behavior?
`<InputField>` should filter out all non-input parameters before pass

[2018-06-18 08:40] ivarni opened #294 "Remove or reduce padding in message-boxes on small screens"
#### Which package is this issue related to?

`ffe-message-box`

#### Describe your issue (screenshots welcome!)

On small (narrow) screens, the message-boxes spend a lot of real estate on horizontal padding

![image](https://user-images.githubusercontent.com/379849/41526181-b5da9710-72e3-11e8-9653-533e2d6ab8e0.png)

In this case, 80px of a total available 355px is used for padding. This seems exc

[2018-06-18 08:42] ivarni commented on #294
In my latest design draft, which is presumably based on something in sketch it looks like this on small screens

![image](https://user-images.githubusercontent.com/379849/41526351-41957202-72e4-11e8-84ce-cc46dee7c2ad.png)

[2018-06-18 09:02] wkillerud opened #297 "ffe-radio-button-react: Docs use wrong name for RadioButtonGroup"
#### Which package is this issue related to?

`ffe-radio-button-react`

#### Describe your issue

The Komponenter page lists the `RadioButtonGroup` as `RadioButtonInputGroup`, and the `import` string is wrong.

#### What is the expected behavior?

The docs should reflect the exported name `RadioButtonGroup`

#### Steps to reproduce

https://design.sparebank1.no/styleguidist/index.html#radiobuttoni

[2018-06-18 09:03] wkillerud commented on #297
Aaand I was looking at an internal wrapper which we called `RadioButtonGroup`... 😨  The docs are in order.

[2018-06-18 09:03] #297 closed, assigned to nobody

[2018-06-18 10:55] wkillerud opened #298 "ffe-core-react: Implement component for ffe-link-text"
#### Which package is this issue related to?

`ffe-core-react`

#### Describe your issue

Today we don't have any React component for anchors. The Komponenter list is missing documentation for `.ffe-link-text` because of this.

#### What is the expected behavior?

We should have a component wrapping `.ffe-link-text` for documentation if nothing else.

#### What is the actual behavior?

We don't do

[2018-06-18 11:02] selbekk opened #299 "ffe-core doesn't export ES5"
#### Which package is this issue related to?
ffe-core

#### Describe your issue (screenshots welcome!)
When we build ffe-core, it creates some javascript files for variables, which can be imported. Unfortunately, the index file contains a trailing comma for functions, which are not ES5.

This leads to the build process failing whenever you use tools such as `create-react-app`.

[2018-06-18 11:04] ivarni commented on #299
Sounds like a good idea to run it through Babel then :)

[2018-06-18 11:06] wkillerud commented on #290
Høres greit ut for min del. Det er kanskje noe som designeren bør ta innom fagforumet? Eller bare få "Approve" fra i hvertfall en kollega eller to - ala code review 😉

[2018-06-18 11:08] wkillerud commented on #291
I agree, this is something we should support. Could be we should just call it something completely different though, and make it unrelated to the `tooltip` prop. `description` or `helpText` maybe? Then you'd use that prop for the text instead of using `tooltip`+`staticTooltip`.

[2018-06-18 11:11] #282 closed, assigned to ivarni

[2018-06-18 11:13] wkillerud commented on #292
We deliberately don't have support for `disabled` state in most of our components. Instead we let the user try to make changes, validate those changes, and show helpful error messages under the parts of the form that are in an invalid state. Users often don't understand why a form component is disabled and get frustrated.

If there's a good reason for using `disabled` then we might add it to the d

[2018-06-18 11:22] selbekk commented on #299
Running all of node_modules through Babel is slow, and is not supported in certain build tools (`create-react-app` is one of them). In my opinion, it's better to just export ES5-compiled code

[2018-06-18 11:23] ivarni commented on #299
That's exactly what I'm suggesting you do :) Running it through babel ensures that it's ES5 and noone forgets what's in which spec and adds something that is not ES5 later.

[2018-06-18 11:26] wkillerud commented on #299
Run the code-to-be-exported-by-ffe-core through Babel, that is @selbekk

[2018-06-18 11:27] selbekk commented on #299
Fair enough, I don't mind adding Babel to the build process

[2018-06-18 11:44] #299 closed, assigned to selbekk

[2018-06-19 07:28] selbekk commented on #291
As I mentioned in the pull request, I'm a bit wary of adding another prop that's... "almost" equal to an existing one, but doing this in userland is not pretty either:

[code]

A different approach is to pass it in as a child:

[code]

They may not look as pretty, but at least it's using the built in flexibility of the component to its advantage. If anything, I think adding a new prop for making t

[2018-06-19 07:32] ivarni commented on #291
I was trying to avoid having to move the implementation to userland because when rendering this myself with the function-thing there's no guarantee any more that it will be in sync with whatever the current implementation of `Tooltip` is and I'd like this to look the same as an expanded tooltip. The second approach above is what I used the *first* time I encountered this variation but since this i

[2018-06-19 07:37] wkillerud commented on #291
It's _almost_ equal @selbekk, in the sense that they are both texts that describe an input field. Still different enough to warrant a new prop IMO. It's an always-visible text. A tooltip usually isn't. So providing a "don't be a tooltip, Tooltip" prop makes less sense to me than just calling it something else.

[2018-06-19 07:52] selbekk commented on #291
I understand where you're coming from @wkillerud - but I think we're just in disagreement here. I think having two props where one excludes the other is a pattern we should try to avoid.

That being said - I _could_ be convinced that naming this extra prop `description` and throwing an error / showing a warning if both are set, could be good enough. Deal?

[2018-06-19 07:55] ivarni commented on #291
How about I just add both?

[2018-06-19 08:06] #256 closed, assigned to ivarni

[2018-06-19 08:11] ivarni commented on #291
Or I'll just rename the prop then, if that makes everyone happy.

[2018-06-19 08:34] #298 closed, assigned to wkillerud

[2018-06-19 09:32] #291 closed, assigned to ivarni

[2018-06-19 09:33] ivarni commented on #293
I think this can be closed now?

(Tip: If you add `Closes #293`, `Fixes #293` or any of the [other](https://help.github.com/articles/closing-issues-using-keywords/) keywords in the commit message you'll never have to worry about forgetting to close after merging)

[2018-06-19 12:49] #293 closed, assigned to paandahl

[2018-06-20 05:43] ivarni commented on #294
I'm gonna go ahead and fix this locally while I wait for some feedback here because I can't believe it's intentional that we waste 20% of the real estate on padding...

[2018-06-20 07:59] wkillerud opened #304 "peerDependency-warnings after upgrading to ffe-core 13.x"
#### Which package is this issue related to?

All packages with a peerDependency on `ffe-core`

#### Describe your issue

The only breaking change in `ffe-core@13.0.0` is the removal of `ffe-section-wrapper` and `ffe-content-container` with modifiers. This should be non-breaking for all the other packages we ship in FFE. The packages should be updated with 13.x as a valid peerDependency after veri

[2018-06-20 07:59] wkillerud commented on #304
@benmatthews volunteered to fix this :man_dancing:

[2018-06-20 08:00] ivarni commented on #304
I could also do it since it's kinda my fault... let me know.

[2018-06-20 08:01] benmatthews commented on #304
@ivarni It's no problem, will fix pronto ;-)

[2018-06-20 11:34] benmatthews opened #306 "peerDependency warnings after upgrading to ffe-icons 6.x"
#### Which package is this issue related to?
All packages with a dependency on `ffe-icons-react@^5.0.0` specifically `ffe-system-messages-react`

#### Describe your issue (screenshots welcome!)
The latest version of `ffe-system-messages-react` depends on `ffe-icons-react@^5.0.0` but there is now a new major version.

#### What is the expected behavior?
I want to be able to use the latest version o

[2018-06-20 12:05] #304 closed, assigned to benmatthews

[2018-06-20 12:09] ivarni opened #308 "Should we set a line-height on anchors?"
#### Which package is this issue related to?

`ffe-core` (typography)

#### Describe your issue (screenshots welcome!)

When rendering a `.ffe-link-text` element directly inside a flex-container we get a lot of whitespace between the underline (implementet as a border) and the text:

This is because while flex-box can be incredible helpful it sometimes decides to turn into an angry vicious demonsp

[2018-06-20 12:53] adidick-zz commented on #294
Don't do it!
We're going to take it up in DS forum tomorrow. 10px margin between text and outer box is not enough and makes things super squashed and harder to read. 10px on the outside of a background box though makes sense. There's also talk about implementing an 8 point grid system so we can make everything easier to standardise, so I think we can have a good discussion about it all tomorrow.

[2018-06-21 07:58] wkillerud opened #309 "ffe-datepicker-react: Hitting Enter when calendar is open and input in focus submits the form"
#### Which package is this issue related to?

`ffe-datepicker-react`

#### Describe your issue

When using a keyboard to work with the datepicker you hit Enter to make your choice of date. When the input field gets focus we open the calendar widget, but the input field still has keyboard focus. If I hit Enter to signal I want the preselected date I trigger a form submit.

Demo: https://codesandbox

[2018-06-21 09:41] wkillerud commented on #309
I see from the code the Enter key is supposed to be a toggle, so Enter shouldn't submit in the input field at all.

[2018-06-21 09:57] wkillerud commented on #309
Solved by #310

[2018-06-21 09:57] #309 closed, assigned to nobody

[2018-06-21 13:46] adidick-zz commented on #294
@ivarni Jeg har tatt en titt på designet på dette på mobil og ser ut for meg at det funker best med 10px margin utenfor boksen og 30px margin inn i boksen. Da får man litt bedre bruk av plass men fortsatt det samme fordeler med luft, lesbarhet og visuell stil som komponenten har på desktop.

![image](https://user-images.githubusercontent.com/8871429/41723019-555efd34-756a-11e8-9a86-dce780de03e4.pn

[2018-06-22 13:39] henrikhermansen opened #311 "Inconsistent bag icon size"
#### Which package is this issue related to?
ffe-icons

#### Describe your issue (screenshots welcome!)
While PPoseIkon and KrPoseIkon has the same size, PPoseStjerneIkon appears a bit squashed.
I took some screen shots of PPoseIkon and PPoseStjerneIkon. PPose and KrPose would look the same.

While the icons should be the same size (as they are on open pages):
|![image](https://user-images.githubu

[2018-06-22 14:06] antidecaf commented on #311
Afaic, these icons probably need to work not only in the context of eachother but also with other icons. This means positioning the one with no star to fit the star might end up making it appear a bit off balance in the context of different icons, due to the extra whitespace within the viewbox. Example:

![ok](https://user-images.githubusercontent.com/463847/41780792-03ca1626-7636-11e8-9208-d6f980

[2018-06-22 14:15] benmatthews commented on #306
fixed in #307

[2018-06-22 14:15] #306 closed, assigned to benmatthews

[2018-06-25 13:45] #294 closed, assigned to ivarni

[2018-06-25 13:58] wkillerud commented on #2
https://github.com/gatsbyjs/gatsby/issues/2135

[2018-06-25 14:00] wkillerud commented on #2
Experimented a bit with this on localhost using https://github.com/bradfrost/gatsby-style-guide-guide as a base. Unfortunately Gatsby was never made with a Lerna workspace in mind, and breaks on startup :cry: Until that is resolved this is a no-go.

[2018-06-27 09:14] ivarni commented on #205
Why would it be breaking?

[2018-06-27 10:42] wkillerud commented on #205
If someone has given a `max-width` to a child of a column we would now be overwriting that value.

[2018-06-27 10:51] ivarni commented on #205
I decided to take a look at this and then I realized...
https://github.com/SpareBank1/designsystem/blob/develop/packages/ffe-grid/less/ffe-grid.less#L101

We're already setting `max-width`?

[2018-06-27 11:10] wkillerud commented on #205
Yes, on the column itself. The workaround is to set it on the children @ivarni.

[2018-06-27 11:11] ivarni commented on #205
Aaah, I didn't think of the children!

@nicolhag are you able to test if that fixes this issue?

[2018-06-27 11:31] ksawerysb1 commented on #292
There are some tables with a dense grid of checkboxes that need some sort of indication that some fields can't be edited based data in the system. Adding a message to each "disabled" checkbox would make the table unreadable. The graphic disabled grayout would at least give an indication why the checkbox doesn't "work" when clicked. Maybe we could come up with a popup/hover type of message if the u

[2018-06-27 11:50] hodoea commented on #80
Vi lukker denne saken og lager en ny til "contrast checker" issuet. :) Håper det er greit

[2018-06-27 11:50] #80 closed, assigned to antidecaf, hodoea

[2018-06-27 11:51] hodoea commented on #136
Har vi en issue til denne med Sigrun sin skisse lenke?

[2018-06-28 18:03] hodoea opened #320 "Feedback på UX guidelines -"
Jeg har laget et forslag til hvordan vi kan brukerteste guidelines i komponentbibliotek.
Kanskje vi kan følge samme mal til de andre sidene også. Det er bare en enkel tommel opp/tommel ned konsept.

Bare å klikke seg rundt i disse skissene for å se flyten:
https://sparebank1.invisionapp.com/share/85DVRWVRF#/257697116_Desktop_HD_Floating_Q
(Oppdatert basert på feedback fra William)

Hva tenker dere

[2018-06-28 18:54] wkillerud commented on #320
All for en feedback-component som det der 👍 Tenker dog at den kanskje blir litt voldsom om vi skal ha den på bunnen av hver Bruk-seksjon, hvertfall sånn siden er i dag med en lang scroll.

Finnes mange approacher, men MSDN har en variant med en liten modal nede til høyre som ekspanderer om du trykker Nei. Se f.eks. https://docs.microsoft.com/en-us/dotnet/standard/get-started (den husker at du har

[2018-06-28 19:02] hodoea commented on #320
Ah ja det har du helt rett i. Glemte den lange scrollen vår :P Jeg tror en sånn "floating" feedback-component som MSDN sin kunne vært det beste. Jeg kan lage en versjon som det i stedet, og se hvordan det kan bli.  :)

[2018-06-28 20:11] hodoea opened #322 "Docs"
Jeg klarer ikke å finne innholdet til komponenter.. Fant bare en fil som heter index.md, der var det bare one-linern til komponentbiblioteket. :(

Kan vi legge til dette under de ulike overskriftene? For mye tekst?

**Ikoner**

Vi bruker ikoner for å skape bedre navigasjon og for å tydeliggjøre hvilket produkt og tjeneste vi snakker om i vår kommunikasjon.
Ikoner skal hjelpe kunden med å raskt ide

[2018-06-29 05:54] wkillerud commented on #322
Can do :)

Teksten til seksjonene i komponentbiblioteket er ikke alltid like lette å finne nei. "Bruk"-seksjonene ligger i filer som heter `USAGE.md` i den pakka det gjelder. Så for ikoner ville det vært fila `packages/ffe-icons-react/USAGE.md`.

[2018-06-29 06:00] wkillerud commented on #322
Når det er sagt så er det ikke noe i veien for å flytte de filene med bruksdokumentasjon. Den tekniske dokumentasjonen må ligge i nærheten av koden da men.

Hvor gir det mening å ha innholdet? I filer under `styleguide-content/komponenter/` med filnavn likt overskriften? F.eks. `styleguide-content/komponenter/ikoner.md`?  @hodoea

[2018-06-29 07:18] hodoea commented on #322
Takk! Er det mulig å lage en hyperlenke til "stil og tone" siden når vi refererer til stil og tone ? :)

[2018-06-29 07:28] sigrunl opened #324 "Manglende visuell sporing i venstremeny"
Det mangler visuell sporing i venstremeny som viser hvilken komponent man er på. Se vedlagt bilde for hvordan vi ønsker at det ser ut. Hvis man er på knapper, skal dette vises i menyen. Dette gjelder i hvert fall på mac, både Chrome og Safari.

<img width="247" alt="screen shot 2018-06-29 at 09 27 10" src="https://user-images.githubusercontent.com/38528602/42078978-aeb36720-7b7e-11e8-828c-e6369948

[2018-06-29 07:45] hodoea commented on #322
Ja @wkillerud jeg tror det kan være fint å ha all innholdet under styleguide-content.  -> (styleguide-content/komponenter/ikoner.md)

Så lenge det ikke lager noe problemer for dere. :)

[2018-06-29 07:48] sigrunl opened #325 "Struktur under komponenter bør spesifiseres på nytt"
Strukturen under Komponenter trenger en gjennomgang og bør spesifiseres på nytt med det nye designet for å bli mer brukervennlig og lettere å finne fram i.

[2018-06-29 07:57] sigrunl opened #326 "Venstremeny har feil visuelt design"
Venstremenyen har feil visuelt design. I følge gjeldende visuelt design skal det kun være én blå overskrift under hvert område på nettstedet (Kom igang, Stil og tone osv.). Bør fikses etter at #325 er fikset, når ny struktur er på definert.

[2018-06-29 07:58] wkillerud commented on #322
Da lager jeg en ny pull request i løpet av dagen hvor jeg flytter de filene :) Det skal ikke være noe problem 👍

[2018-06-29 08:43] #322 closed, assigned to wkillerud, hodoea, sigrunl

[2018-06-29 11:52] hodoea commented on #136
Lukker denne siden vi har Sigrun sin.

[2018-06-29 11:52] #136 closed, assigned to hodoea

[2018-07-03 07:32] hdaljord commented on #320
Jeg lurer på om det blir tydelig nok hva man gir tilbakemelding på når den flyter slik på siden eller om den burde knyttes tydeligere opp mot den seksjonen den gjelder? Hvis jeg trykker inn på Knapper i designguiden så vil jeg hele tiden kunne lese videre nedover på siden, videre til typografi etc., dvs. det er ikke bare teksten om knapper som vises.

Eller er det tenkt at feedbacken alltid skal v

[2018-07-03 07:59] hodoea commented on #320
@hdaljord Ja, det blir en utfordring. Tanken var at man kunne gi feedback på den seksjonen man har lest. Men det blir litt vanskelig med den første skissen hvor jeg gjorde ettersom vi har en veldig lang scroll og man kan noen ganger se flere seksjoner på en gang.  Hvis det jeg skrev lager mening.

Akkurat nå er det slik at vi bare tar imot feedback på hele siden i denne skissen. Men kan sikkert se

[2018-07-03 10:23] marthall opened #342 "FieldMessage is missing icons in IE"
#### Which package is this issue related to?
`ffe-form`

#### Describe your issue (screenshots welcome!)
The newest version of `ffe-form` is missing icons on `FieldMessage` (See https://design.sparebank1.no/styleguidist/index.html#errorfieldmessage in IE). This is due to IE not supporting data-URI with non-base64 encoded svg's (ref. https://stackoverflow.com/a/27322138/1163878). The errors were in

[2018-07-03 10:59] antidecaf commented on #342
Fixed via #343

[2018-07-03 10:59] #342 closed, assigned to nobody

[2018-07-03 12:50] marthall opened #344 "Checkbox appears beside legend in IE"
#### Which package is this issue related to?
`ffe-checkbox-react`

#### Describe your issue (screenshots welcome!)
Documentation needs an addition to work in IE.

[code]
Needs to change to
[code]

This issue relates to https://github.com/SpareBank1/designsystem/pull/279 .

#### What is the expected behavior?
Label above input field/checkbox in all browsers

#### What is the actual behavior?
Checkb

[2018-07-05 10:38] marthall commented on #342
This was actually not fixed in last PR due to some minor issues. New PR opened

[2018-07-11 08:40] ivarni opened #347 "Set correct cursor on hover for datepicker pick date icon"
#### Which package is this issue related to?

`ffe-datepicker`

#### Describe your issue (screenshots welcome!)

![image](https://user-images.githubusercontent.com/379849/42560307-a8175e54-84f6-11e8-9d49-a3e7cdfa75d4.png)

#### What is the expected behavior?

When I hover the mouse over the icon the cursor should indicate that it is clickable

#### What is the actual behavior?

The cursor has the

[2018-07-12 06:48] selbekk commented on #205
Now you are @ivarni ;-)

[2018-07-12 07:36] ivarni opened #349 "More space between label and inputs for RadioSwitch"
#### Which package is this issue related to?

`ffe-form`

#### Describe your issue (screenshots welcome!)

![image](https://user-images.githubusercontent.com/379849/42618964-dc7bff2c-85b6-11e8-87c0-61e15e2fbde5.png)

The amount of spacing between the label and the input is not visually consistent between `RadioButtonInputGroup` and `RadioSwitch`.

I propose increasing the spacing between the label

[2018-07-12 10:54] AndersCan opened #350 "Incorrect button design on safari 10"
#### Which package is this issue related to?
ffe-buttons (maybe ffe-buttons-react)
#### Describe your issue (screenshots welcome!)
<img src="https://user-images.githubusercontent.com/3702766/42628407-56d21126-85d0-11e8-856f-e4631ffb0aa5.png" height="400">

- Button label text is not centered
- Tertiary's `::after` border is positioned next to the button label

Centering may be related to: https://

[2018-07-16 10:33] AndersCan commented on #350
https://github.com/SpareBank1/designsystem/pull/352

[2018-07-17 11:55] AndersCan commented on #350
Won't fix.

[2018-07-17 11:55] #350 closed, assigned to nobody

[2018-07-23 08:42] #308 closed, assigned to ivarni

[2018-07-23 09:08] #349 closed, assigned to nobody

[2018-07-31 13:55] sebasso opened #355 "Unclickable buttons when a label provided"
#### Which package is this issue related to?
 ffe-buttons-react

#### Describe your issue (screenshots welcome!)
This issue only relates to iOS and android devices.
# Unclicked
![buttonunclicked](https://user-images.githubusercontent.com/3595057/43463696-84e7f59a-94d9-11e8-8e4e-ecb373b7d5db.PNG)
# Clicked
![buttonclicked](https://user-images.githubusercontent.com/3595057/43463697-85082784-94d9-11e

[2018-08-01 06:03] ivarni opened #356 "Console-warnings when running styleguidist"
#### Describe your issue (screenshots welcome!)

When running styleguidist locally there's a few unnecessary errors in the console

![image](https://user-images.githubusercontent.com/379849/43503813-2862e798-9561-11e8-9788-b3b3a5ea67b6.png)

There's a handful of propType warnings, one instance of missing `key` props and one instance of using `class` instead of `className`.

For the sake of setting

[2018-08-01 06:08] ivarni commented on #347
On closer inspection the datepicker pops up as soon as the input gets focus and clicking the icon is not needed so in this case I am thinking it's okay for it to not have the mouse pointer on hover,

Closing this, unless @adidick wants to discuss with UU/UX if the icon should still have a pointer icon on hover or if we should consider it as being strictly decorative.

[2018-08-01 06:08] #347 closed, assigned to ivarni

[2018-08-01 12:05] #356 closed, assigned to ivarni

[2018-08-01 12:08] #355 closed, assigned to sebasso

[2018-08-01 13:06] antidecaf opened #358 "SecurityError: localStorage is not available for opaque origins"
A recent upgrade of JSDom (v. 11.12) includes support for window.localStorage and other features. This in turn causes all Jest tests to fail with:

`SecurityError: localStorage is not available for opaque origins`

For reference, see https://github.com/facebook/jest/issues/6766

[2018-08-01 13:09] kwltrs commented on #358
Will be fixed in jest: facebook/jest#6792

[2018-08-01 13:10] ivarni commented on #358
The workaround untill they do is to add the `testUrl` option

[2018-08-07 08:24] #118 closed, assigned to nobody

[2018-08-07 08:30] #2 closed, assigned to nobody

[2018-08-07 08:33] antidecaf commented on #11
Any news on this issue? Has this been discussed within GD? @adidick

[2018-08-07 13:27] adidick-zz commented on #11
Jeg husker ikke hvem jeg snakket med om det før sommer men jeg har laget et forslag på hvordan vi kunne gjør det og det er lagt inn i ny sketch malet. Vi kan godt ta en titt på det på DS forum på torsdag. Her er eksemplet:
![image](https://user-images.githubusercontent.com/8871429/43778748-c8a2be6e-9a56-11e8-9d44-ed379bb44016.png)

[2018-08-09 12:41] #270 closed, assigned to ksawerysb1

[2018-08-09 12:41] antidecaf commented on #270
Fixed in #271

[2018-08-09 12:43] antidecaf commented on #108
Fixed in #361

[2018-08-09 12:43] #108 closed, assigned to nobody

[2018-08-13 09:58] ksawerysb1 opened #367 "AccountSelector 'pagination scrolling', render window, performance optimalisation"
#### Which package is this issue related to?
ffe-account-selector-react
#### Describe your issue (screenshots welcome!)
When populating the component with massive amount of data we should just render a data window that is visible to the scroll position instead of the whole dataset. A lot of data generates too much eventing and virtual dom diffing and JS garbage collection problems so we should use

[2018-08-13 10:01] ivarni commented on #367
We've been using [react-window](https://github.com/bvaughn/react-window) recently for a massive (~3000 elements) select-dropdown.

Worked like a charm.

[2018-08-13 10:23] ksawerysb1 commented on #367
The issue can be extended to all searchable dropdowns with custom rows and rendering that might slow down the experience with big datasets.

[2018-08-13 10:59] ksawerysb1 opened #368 "Checkbox performance of check animation"
#### Which package is this issue related to?
ffe-checkbox-react
#### Describe your issue (screenshots welcome!)
A massive amount of checkboxes on one page that start the "check" animation at the same time might cause perfomance problems. Would be good to have a "light" version without the custom animation and other eye candy that might slow down the frontend performance if a massive amount of data

[2018-08-13 11:01] ivarni commented on #368
I am thinking that we don't need the animation if the checkbox is rendered as checked the first time, only if it goes from unchecked to checked but I've no idea how that could be done in an orderly manner.

[2018-08-13 11:08] ksawerysb1 commented on #368
Yes, a kind of only onclick animation might solve the animation problem on data load/re-load.
I haven't been digging down every performance problem with the component but I have made a comparison of perfomance with the FFE component and default input checkbox in thousands, and there was a massive difference in browser responsiveness between the two.

[2018-08-13 12:50] antidecaf commented on #358
The fix has been released in jest 23.5.0

[2018-08-15 08:41] kwltrs commented on #368
Is this a real world issue, like do we actually have thousands of checkboxes on a page?

[2018-08-16 12:12] cecilieboe opened #371 "Datepicker - not able to open again on iPhone Safari"
#### Which package is this issue related to?
ffe-datepicker-react

#### Describe your issue (screenshots welcome!)
* Open datepicker in Safari on iPhone (SE) by clicking on the prechosen date
* Choose a date -> the datepicker closes but still has focus
* Click on the datepicker again to try to repopen it - not possible

Also, clicking outside the datepicker when it is open does not make it close.

[2018-08-16 13:09] selbekk opened #372 "Future-proof React 17 components"
#### Which package is this issue related to?
A subset of our React packages:
- `ffe-account-selector-react`
- `ffe-datepicker-react`
- `ffe-decorators-react`
- `ffe-tables-react`

#### Describe your issue (screenshots welcome!)
In React 17, a few lifecycle methods (`componentWillMount`, `componentWillReceiveProps`, and `componentWillUpdate`) will be deprecated and removed.

In order to simplify th

[2018-08-16 13:15] ivarni commented on #372
deprecated **and** removed? 😱

[2018-08-16 13:24] selbekk commented on #372
Well, they are renamed to `UNSAFE_componentWill*`, so you can still use them for a while longer if you don't have the time to rewrite.

[2018-08-17 07:36] kwltrs commented on #372
This is road map material. If there is no other reason for changing the lifecycle callbacks (and thus forcing consumers to upgrade react or polyfilling stuff) than avoiding deprecation warnings, I feel we should wait until an upgrade would make it more worth it.

[2018-08-17 09:25] selbekk commented on #372
Just for reference - the polyfill is 916 bytes gzipped, and will most likely be included in all large libraries (react-redux, react-router etc) for the foreseeable future. In other words - there isn't a real cost connected to this.

Since this imo needs to be done at some point - what's the reasoning for not doing it now?

[2018-08-17 12:39] ksawerysb1 commented on #368
There are forms where clients want no pagination and hundreds of rows with multiple checkboxes.
Couple of hundreds might still work but when we are in the thousands some browsers just can't handle it, especially in IE with limited memory.
Otherwise we have to change functionality just to be able to use better looking checkboxes...

[2018-08-17 12:48] ksawerysb1 commented on #368
Also it seems that generally displaying massive amounts of react components on one page is a problem compared to the vanilla html equivalents. The optimal situation would be if we didn't have to think about what underlying framework we use for rendering when it comes to the amount of data we want to display. That is rendering 10000 `<input type="checkbox"> `(which was no problem before "reactifica

[2018-08-20 12:16] #368 closed, assigned to antidecaf

[2018-08-20 12:55] kwltrs commented on #372
The cost isn't the file size of the polyfill, but the cost of development when having to upgrade or polyfill out of the blue.

[2018-08-20 13:12] selbekk commented on #372
That cost is fully contained within FFE - the polyfill is applied in FFE code only, and will make our components backwards compatible, delaying the cost of upgrading as well.

[2018-08-20 13:36] selbekk opened #377 "ffe-context-message-react overrides svg icons"
#### Which package is this issue related to?
`ffe-context-message-react`

#### Describe your issue (screenshots welcome!)
In certain cases, you want to override the default styles of a context message icon. The preferred way of doing this is via a class - but thanks to [this piece of code](https://github.com/SpareBank1/designsystem/blob/develop/packages/ffe-context-message-react/src/ContextMessage

[2018-08-21 06:37] #377 closed, assigned to selbekk

[2018-08-23 12:34] antidecaf opened #381 "Save space for error messages in order to avoid page jumps on validation"
#### Which package is this issue related to?

ffe-form

#### Describe your issue (screenshots welcome!)

In some instances the page layout may jump when validation error messages are inserted, because an extra line of content is injected into the page flow.

Without error message:

![image](https://user-images.githubusercontent.com/463847/44525238-a2dbd080-a6e0-11e8-9b77-87f16ec278f4.png)

With er

[2018-08-27 11:10] ivarni commented on #381
For this to work, we'll have to require that no error message ever wraps to the next line, right?

[2018-08-27 11:31] antidecaf commented on #381
The consensus seems to be that as a general guideline they shouldn't wrap, and in instances where the error message needs to be more than one line of text for whatever reason, we are willing to live with the layout shift.

[2018-08-27 11:55] ivarni commented on #381
Then I guess `absolute` positioning is out of the question :)

Maybe it's possible to do something with collapsing margins?

[2018-08-27 12:25] antidecaf commented on #381
Yeah, good point. :) Collapsing margins may indeed be a better approach.

[2018-08-30 09:59] #344 closed, assigned to nobody

[2018-08-30 13:00] antidecaf opened #388 "Grid vs spacing"
[ffe-grid](https://github.com/SpareBank1/designsystem/tree/develop/packages/ffe-grid)[(-react)](https://github.com/SpareBank1/designsystem/tree/develop/packages/ffe-icons-react) comes with gutters, which makes it difficult to nest grids or use it in any other context than page layout. This has caused some issues in cases where it has been used for internal layout in components or sections. At the

[2018-08-30 13:17] ivarni commented on #388
If we have to go down that road I would much rather see an option to turn the padding off than it being removed. I'd prefer to not have to synchronize spacing across all the components in my app just to have content line up vertically across rows.

Or maybe rename this to `ffe-layout` and create a new grid or something, though to be honest there are already tons of grid-libraries around one could

[2018-09-06 10:47] nataliefl commented on #388
Is there a reason padding was chosen over margins for the grid? I see margin collapse as useful for solving some of these issues. Edit: I see now that the horizontal margins does not collapse, making them less useful in this case.

[2018-09-06 12:17] antidecaf opened #394 "Prettier breaks less"
Noticed in a recent pull request (#393) that prettier was injecting a whitespace into less `extend`, which causes a parse error that prevents the less from compiling.

![image](https://user-images.githubusercontent.com/463847/45156424-6f1fa100-b1de-11e8-887d-4f38ce6f8e52.png)

<img width="288" alt="screen shot 2018-09-06 at 14 10 10" src="https://user-images.githubusercontent.com/463847/45156777-7

[2018-09-10 14:24] henrikhermansen opened #398 "Blue accordion lacks transition on background"
#### Which package is this issue related to?
ffe-accordion

#### Describe your issue (screenshots welcome!)
The accordion switches instantly to a blue background.
This does not feel smooth, and makes the accordion feels like it's flashing/blinking.

![image](https://user-images.githubusercontent.com/435037/45303252-ab703b80-b515-11e8-8df6-2c2a5497fd69.png)

#### What is the expected behavior?
I ex

[2018-09-10 14:30] henrikhermansen opened #399 "Missing necessary dependencies"
#### Which package is this issue related to?
ffe-form-react
ffe-system-message-react

#### Describe your issue (screenshots welcome!)
The mentioned packages depends on `react-collapse`,
but does not have dependency on its peerDependency `react-motion`.

This issue became apparent to me when `react-motion` was removed
as a dependency from `ffe-accordion-react`.

#### What is the expected behavior?

[2018-09-11 05:40] ivarni commented on #399
This begs the question.... how many dependencies would a dependency have if a peer dependency was a dependency?

[2018-09-11 08:53] #398 closed, assigned to henrikhermansen

[2018-09-11 15:57] greenkeeper[bot] opened #403 "An in-range update of react-styleguidist is breaking the build 🚨"
## Version **7.3.7** of **react-styleguidist** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/SpareBank1/designsystem/compare/develop...SpareBank1:greenkeeper%2Freact-styleguidist-7.3.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://g

[2018-09-14 11:47] #394 closed, assigned to benmatthews

[2018-09-17 08:10] #403 closed, assigned to nobody

[2018-09-17 10:12] antidecaf commented on #91
@hodoea Er løsninga i invision-lenka opplest og vedtatt? For da kan vi i tilfelle bare implementere den. :)

[2018-09-17 10:25] #163 closed, assigned to nobody

[2018-09-17 10:29] antidecaf commented on #167
Holder det med en kopi av `ffe.css`, som er i bruk på styleguiden? I tilfelle er det mulig å få tak i her: https://design.sparebank1.no/ffe.css

[2018-09-17 10:34] antidecaf commented on #205
@ivarni Have you thought of the children yet?

[2018-09-17 10:38] antidecaf commented on #243
@benwixen Any progress on this?

[2018-09-17 10:39] ivarni commented on #205
@antidecaf https://github.com/SpareBank1/designsystem/pull/348 😨

[2018-09-17 10:39] #205 closed, assigned to ivarni

[2018-09-17 12:17] antidecaf opened #405 "Styleguidist navigation is broken"
#### Which package is this issue related to?

#### Describe your issue (screenshots welcome!)
Links in the sidebar menu do not work, except for button related ones (Buttons are the first section). This bug seems to have appeared as react-styleguidist version was bumped from `7.0.5` to `7.3.8`.

#### What is the expected behavior?
All sidebar links should lead to it's corresponding section/componen

[2018-09-17 12:30] antidecaf commented on #405
Possibly related to https://github.com/styleguidist/react-styleguidist/issues/1139 and/or https://github.com/styleguidist/react-styleguidist/issues/1137

[2018-09-18 06:31] ivarni commented on #167
Inneholder den alle komponentene?

Jeg tenker det er lettere for konsumentene å holde det oppdatert om det ligger i npm-pakka, gitt at de bruker npm da.

[2018-09-18 07:39] kwltrs commented on #167
Nesten, ffe-account-seletor-react har litt css som ikke er med.
Filen bygges fra https://github.com/SpareBank1/designsystem/blob/develop/packages/ffe-all.less

Helt sikkert er det enklere å bruke css'en med en npm-pakke. Men dette betyr en del endringer i byggsystemet og med tanke på at behovet virker rett lite så koster det kanskje mer enn det smaker.

[2018-09-18 08:46] antidecaf commented on #290
@eirikv Hva er status på denne?

[2018-09-18 08:53] eirikv commented on #290
@antidecaf, må nesten delegere denne saken videre til @selbekk, så får han ta en sjefsavgjørelse (når han er tilbake).

[2018-09-18 08:53] antidecaf commented on #311
@henrikhermansen @adidick Any updates? Should we close this issue?

[2018-09-18 08:58] #358 closed, assigned to nobody

[2018-09-18 09:02] antidecaf commented on #367
Is this a problem that occurs on a regular basis? As in, should we fix it in ffe-account-selector-react/whatever other relevant components, or leave it up to the consumer to fix in their apps?

[2018-09-18 09:05] antidecaf commented on #371
It appears tapping the label will open the datepicker, but not tapping the actual input.

[2018-09-18 09:10] adidick-zz commented on #311
I'm not sure what the best solution is here.

@henrikhermansen I see you have used a 140x140px viewbox around the icons on the open pages. I'm assuming that's not always going to be possible in all use-cases where there is less space for the icon.

It also doesn't really make sense to have to have an exception built in to one icon, so I wonder if it would actually be of benefit to redesign the bag

[2018-09-18 14:08] hodoea commented on #91
Nei, bare jeg som har mocket noe raskt..Og vi har en del ting som skal inn i stil og tone basert på workshops vi har hatt med marked. Ordliste og eksempler bl.a  🎉

Jeg, Heidi og Siri skal se på dette neste mandag :) Sier ifra når lenken er klar

[2018-09-19 08:44] antidecaf opened #409 "Let's get uglier"
In many pull requests `Prettier` seems to rewrite loads of irrelevant code to satisfy it's format. For a recent example, see changes in #407.  In my opinion these format changes are unnecessary noise that distracts from what is actually going on in any given pull request, and frankly in the end it's more annoying than helpful.

Can we disable Prettier alltogether?

![image](https://user-images.git

[2018-09-19 11:47] lotorvik opened #410 "ffe-searchable-dropdown-react: Turn off browsers default autocomplete"
#### Which package is this issue related to?
ffe-searchable-dropdown-react

#### Describe your issue (screenshots welcome!)
The browsers default autocomplete gives suggestions in addition to the autocomplete list from this component.
![autocomplete](https://user-images.githubusercontent.com/866562/45750290-b8c0b080-bc0e-11e8-868c-6b2e9a29ba0b.png)

This is solved by adding autcomplete="off" to the

[2018-09-19 12:07] ivarni commented on #410
+1 on just always disabling it